fluxo-atualizado-1005.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Monta payload para GPT: oportunidades de conteúdo + produtos/serviços a partir dos comentários.\n// Entrada: saída do nó \"Analisar Estrutura de Conteúdo\" (cliente + concorrentes com posts.comentarios_ordenados).\n\nconst dados = $input.first().json || {};\nconst nome = dados.nome_cliente || \"\";\nconst nicho = dados.nicho || \"\";\nconst handleCliente = dados.handle_cliente || dados.cliente?.handle || \"\";\n\nfunction flattenComentarios(nodes, depth, out) {\n  const d = depth ?? 0;\n  for (const n of nodes || []) {\n    if (!n || typeof n !== \"object\") continue;\n    const texto = String(n.texto || \"\").trim();\n    if (texto.length >= 2) {\n      out.push({\n        texto: texto.slice(0, 500),\n        autor: n.comentador_username || null,\n        profundidade_resposta: d,\n        comentario_foi_respondido_pelo_dono:\n          n.comentario_foi_respondido_pelo_dono === true,\n      });\n    }\n    if (Array.isArray(n.respostas) && n.respostas.length) {\n      flattenComentarios(n.respostas, d + 1, out);\n    }\n  }\n  return out;\n}\n\nfunction extrairPostsComComentarios(bloco, limitePosts) {\n  const posts = Array.isArray(bloco?.posts) ? bloco.posts : [];\n  const comComentario = posts.filter(\n    (p) => Array.isArray(p.comentarios_ordenados) && p.comentarios_ordenados.length\n  );\n  comComentario.sort(\n    (a, b) => Number(b.engajamento_total || 0) - Number(a.engajamento_total || 0)\n  );\n  return comComentario.slice(0, limitePosts).map((p) => {\n    const flat = [];\n    flattenComentarios(p.comentarios_ordenados, 0, flat);\n    const maxCom = 45;\n    return {\n      link_post: p.link_post || \"\",\n      shortCode: p.shortCode || \"\",\n      legenda_resumo: String(p.legenda || \"\").slice(0, 220),\n      curtidas: p.curtidas ?? 0,\n      comentarios_contagem: p.comentarios ?? 0,\n      comentarios_texto: flat.slice(0, maxCom),\n    };\n  });\n}\n\nconst limitePostsPorPerfil = 8;\nconst cliente = dados.cliente || null;\nconst concorrentes = dados.concorrentes || [];\n\nconst payloadUsuario = {\n  contexto: {\n    nome_cliente: nome,\n    nicho,\n    handle_cliente: handleCliente,\n  },\n  cliente: cliente\n    ? {\n        handle: cliente.handle,\n        posts_com_audience: extrairPostsComComentarios(cliente, limitePostsPorPerfil),\n      }\n    : null,\n  concorrentes: concorrentes.map((c) => ({\n    handle: c.handle,\n    posts_com_audience: extrairPostsComComentarios(c, limitePostsPorPerfil),\n  })),\n};\n\nconst temAlgum =\n  (payloadUsuario.cliente?.posts_com_audience || []).length > 0 ||\n  payloadUsuario.concorrentes.some(\n    (x) => (x.posts_com_audience || []).length > 0\n  );\n\nif (!temAlgum) {\n  return [\n    {\n      json: {\n        _sem_comentarios_texto: true,\n        gpt_payload_comentarios: {\n          model: \"gpt-4.1-mini\",\n          messages: [\n            {\n              role: \"system\",\n              content:\n                'Retorne um único JSON com chave raiz \"insights_comentarios\". Sem comentários na entrada: indique em resumo_geral que não havia textos (apenas contagens ou API vazia).',\n            },\n            {\n              role: \"user\",\n              content: JSON.stringify(\n                {\n                  aviso:\n                    \"Nenhum comentário textual foi encontrado nos posts (comentarios_ordenados vazio).\",\n                  contexto: payloadUsuario.contexto,\n                },\n                null,\n                2\n              ),\n            },\n          ],\n          max_tokens: 1200,\n          temperature: 0.25,\n        },\n      },\n    },\n  ];\n}\n\nconst systemPrompt = `Você é estrategista de conteúdo e monetização para Instagram. Analise comentários REAIS por post.\n\nREGRAS:\n1. EVIDÊNCIA TEXTUAL: Cite frases reais dos comentários para justificar cada insight (ex: \"Comentário: 'quando você abre mentoria?'\").\n2. SEPARAÇÃO CLARA: Diferencie insights do CLIENTE vs CONCORRENTES — o que o público pede de cada um.\n3. SINAIS DE COMPRA: Destaque qualquer comentário com intenção comercial explícita.\n4. PADRÕES DE ENGAJAMENTO: Identifique qual tipo de conteúdo gerou mais comentários com mais palavras (mais engajados).\n\nSaída: JSON único válido (sem markdown), chave raiz \"insights_comentarios\":\n{\n  \"insights_comentarios\": {\n    \"resumo_geral\": \"Síntese de 100 palavras com os achados mais valiosos\",\n    \"top_autores_que_mais_comentam\": [\n      { \"username\": \"@...\", \"qtd_comentarios\": 0, \"media_palavras\": 0, \"intencao_detectada\": \"comprador|fa|critico|neutro\" }\n    ],\n    \"temas_audiencia\": [\n      { \"tema\": \"\", \"frequencia_estimada\": \"alta|media|baixa\", \"exemplo_falas\": [\"frase real do comentário\"] }\n    ],\n    \"oportunidades_conteudo_cliente\": [\n      { \"titulo_ideia\": \"Título pronto para usar como gancho\", \"formato\": \"Reel|Carrossel|Stories\", \"justificativa\": \"Baseado no comentário X do post Y\", \"inspirado_em_concorrentes_handles\": [\"@handle\"] }\n    ],\n    \"oportunidades_produto_servico\": [\n      { \"oferta\": \"Nome da oferta\", \"publico\": \"Para quem\", \"cta_sugerido\": \"Texto exato do CTA\", \"sinal_de_compra\": \"Frase do comentário que indicou esta oportunidade\" }\n    ],\n    \"conteudo_que_mais_gerou_comentarios_ricos\": [\n      { \"handle\": \"@...\", \"legenda_resumo\": \"...\", \"por_que_funcionou\": \"Análise do padrão\" }\n    ],\n    \"comparativo_cliente_vs_concorrentes\": \"O que o público pede do cliente que os concorrentes já entregam — e o que o cliente tem que eles não têm\",\n    \"proximos_passos\": [\"Ação específica 1\", \"Ação específica 2\", \"Ação específica 3\"]\n  }\n}`;\n\nlet userStr = JSON.stringify(payloadUsuario, null, 2);\nconst maxChars = 95000;\nif (userStr.length > maxChars) {\n  userStr = userStr.slice(0, maxChars) + \"\\n... [truncado por tamanho]\";\n}\n\nreturn [\n  {\n    json: {\n      gpt_payload_comentarios: {\n        model: \"gpt-4.1\",\n        messages: [\n          { role: \"system\", content: systemPrompt },\n          { role: \"user\", content: userStr },\n        ],\n        max_tokens: 6000,\n        temperature: 0.35,\n      },\n    },\n  },\n];"
      },
      "id": "98a42e4f-825f-4952-84c9-e761dbf4c414",
      "name": "Montar payload — Análise comentários GPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        7728
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4.1",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.gpt_payload_comentarios.messages[0].content }}"
            },
            {
              "content": "={{ $json.gpt_payload_comentarios.messages[1].content }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "maxTokens": 6000,
          "temperature": 0.35
        },
        "requestOptions": {}
      },
      "id": "a1f906cb-78b7-4c8b-9cc5-4ce4ed83a2c8",
      "name": "OpenAI — Análise comentários",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        2832,
        7728
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 4000,
      "credentials": {
        "openAiApi": {
          "id": "mQKFKMQMdtkSmyek",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Reanexa a saída do \"Analisar Estrutura de Conteúdo\" + JSON parseado do GPT de comentários.\n\nconst base = $('Analisar Estrutura de Conteúdo1').first().json;\nconst gpt = $input.first().json;\n\nfunction safeParse(txt) {\n  if (!txt || typeof txt !== \"string\") return null;\n  try {\n    return JSON.parse(txt);\n  } catch (_) {}\n  const m = txt.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (m) {\n    try {\n      return JSON.parse(m[1]);\n    } catch (_) {}\n  }\n  const start = txt.indexOf(\"{\");\n  const end = txt.lastIndexOf(\"}\");\n  if (start >= 0 && end > start) {\n    try {\n      return JSON.parse(txt.slice(start, end + 1));\n    } catch (_) {}\n  }\n  return null;\n}\n\nconst raw = gpt?.choices?.[0]?.message?.content || \"\";\nconst parsed = safeParse(raw);\nconst insights = parsed?.insights_comentarios ?? parsed;\n\nreturn [\n  {\n    json: {\n      ...base,\n      insights_comentarios_auditoria: insights || null,\n      gpt_comentarios_raw: raw,\n      gpt_comentarios_parse_ok: Boolean(insights),\n      tokens_comentarios: gpt?.usage?.total_tokens ?? null,\n    },\n  },\n];\n"
      },
      "id": "fdce63ec-eefe-4a9e-a692-fcfb0b2419df",
      "name": "Consolidar — Insights comentários",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        7728
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"linkfile\":       \"{{ $json.webViewLink }}\",\n  \"downloadLink\":   \"{{ $json.webContentLink }}\",\n  \"fileId\":         \"{{ $json.id }}\",\n  \"fileName\":       \"{{ $json.name }}\",\n  \"status\":         \"ok\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        8656,
        7712
      ],
      "id": "73a26ec6-583e-4f09-b415-2bffb9115aa1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auditor-ia",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bce349d7-134d-42d6-9509-605f008af76f",
      "name": "Webhook Trigger1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        352,
        7728
      ],
      "webhookId": "auditor-ia-trigger-v1"
    },
    {
      "parameters": {
        "jsCode": "// Valida payload de entrada { nome_cliente, nicho, handle_cliente, concorrentes[] }\nconst raw  = $input.first().json;\nconst body = raw.body ?? raw;\nconst cellcli = raw.headers.cellphone;\nconst nome_cliente   = (body.nome_cliente   || '').trim();\nconst nicho          = (body.nicho          || '').trim();\nconst handle_cliente = (body.handle_cliente || '').replace('@', '').trim();\nconst concorrentes   = (body.concorrentes   || [])\n  .map(h => String(h).replace('@', '').trim())\n  .filter(Boolean);\n\nif (!nome_cliente || !nicho || !handle_cliente || concorrentes.length === 0) {\n  throw new Error('Payload incompleto. Envie: nome_cliente, nicho, handle_cliente, concorrentes[].');\n}\n\nconst todos_handles = [handle_cliente, ...concorrentes];\n\nreturn [{ json: {\n  nome_cliente,\n  nicho,\n  handle_cliente,\n  concorrentes,\n  todos_handles,\n  iniciado_em: new Date().toISOString(),\n  cellcli,\n}}];\n"
      },
      "id": "165c7686-fcf1-4b88-9d6e-8be99fbef3e2",
      "name": "Validar e Preparar Input1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        7728
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://instagram120.p.rapidapi.com/api/instagram/userInfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Rapidapi-Key",
              "value": "=0127634a29msh4a303edef58f6dbp1430c6jsnd00af7a6bc1e"
            },
            {
              "name": "X-Rapidapi-Host",
              "value": "instagram120.p.rapidapi.com"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ username: $json.handle, maxId: '' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f2fdb50a-f230-4144-a1ae-97f19b040ddd",
      "name": "RapidAPI — Buscar Perfil1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        7584
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://instagram120.p.rapidapi.com/api/instagram/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Rapidapi-Key",
              "value": "=0127634a29msh4a303edef58f6dbp1430c6jsnd00af7a6bc1e"
            },
            {
              "name": "X-Rapidapi-Host",
              "value": "instagram120.p.rapidapi.com"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ username: $json.handle, maxId: '' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b9f60907-0439-4b5c-95bb-a53845f04afa",
      "name": "RapidAPI — Buscar Posts1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        7856
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Normaliza posts (até 20 por handle) num shape leve e agrupa por tipo\nconst rapItems  = $input.all();\nconst origItems = $('Expandir Handles').all();\n\nfunction toNumber(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction normalizarTipoOrigem(tipo) {\n  const t = String(tipo || '').toLowerCase().trim();\n  if (t === 'cliente' || t === 'client' || t === 'principal' || t === 'perfil_cliente') {\n    return 'cliente';\n  }\n  return 'concorrente';\n}\n\nfunction extrairPosts(resp) {\n  if (Array.isArray(resp?.result?.edges)) return resp.result.edges.map(e => e.node ?? e).filter(Boolean);\n  if (Array.isArray(resp?.edges))         return resp.edges.map(e => e.node ?? e).filter(Boolean);\n  if (Array.isArray(resp?.data?.edges))   return resp.data.edges.map(e => e.node ?? e).filter(Boolean);\n  if (Array.isArray(resp?.items))         return resp.items;\n  if (Array.isArray(resp?.result?.items)) return resp.result.items;\n  if (Array.isArray(resp?.data?.items))   return resp.data.items;\n  if (Array.isArray(resp?.medias))        return resp.medias;\n  if (Array.isArray(resp?.result?.medias))return resp.result.medias;\n  if (Array.isArray(resp?.data?.medias))  return resp.data.medias;\n\n  const user = resp?.user ?? resp?.data?.user ?? resp?.result?.user ?? {};\n  if (Array.isArray(user.edge_owner_to_timeline_media?.edges)) {\n    return user.edge_owner_to_timeline_media.edges.map(e => e.node ?? e).filter(Boolean);\n  }\n  return [];\n}\n\nfunction getShortCode(node) { return node.shortcode ?? node.code ?? node.short_code ?? ''; }\n\nfunction getLegenda(node) {\n  const legenda =\n    node.edge_media_to_caption?.edges?.[0]?.node?.text ??\n    node.caption?.text ?? node.caption?.caption ?? node.caption ?? '';\n  return typeof legenda === 'string' ? legenda : '';\n}\n\nfunction isVideo(node) {\n  return Boolean(\n    node.is_video === true ||\n    node.media_type === 2 ||\n    node.product_type === 'clips' ||\n    node.video_url ||\n    Array.isArray(node.video_versions)\n  );\n}\n\nfunction isCarrossel(node) {\n  return Boolean(\n    node.edge_sidecar_to_children ||\n    Array.isArray(node.carousel_media) ||\n    node.carousel_media_count\n  );\n}\n\nfunction getTipoConteudo(node) {\n  if (isVideo(node)) return 'video';\n  if (isCarrossel(node)) return 'carrossel';\n  return 'imagem';\n}\n\nfunction getVideoUrl(node) {\n  return node.video_url ?? node.video_versions?.[0]?.url ?? null;\n}\n\nfunction getImagemUrl(node) {\n  return (\n    node.display_url ??\n    node.thumbnail_url ??\n    node.image_versions2?.candidates?.[0]?.url ??\n    node.image_versions?.items?.[0]?.url ??\n    node.carousel_media?.[0]?.image_versions2?.candidates?.[0]?.url ??\n    null\n  );\n}\n\nfunction getTimestamp(node) {\n  return node.taken_at ?? node.taken_at_timestamp ?? null;\n}\n\nfunction normalizarPost(node) {\n  const shortCode = getShortCode(node);\n  const tipoConteudo = getTipoConteudo(node);\n  const curtidas = toNumber(\n    node.edge_liked_by?.count ?? node.like_count ?? node.likes_count ?? node.fb_like_count ?? 0\n  );\n  const comentarios = toNumber(\n    node.edge_media_to_comment?.count ?? node.comment_count ?? node.comments_count ?? node.fb_comment_count ?? 0\n  );\n  const views = toNumber(\n    node.video_view_count ?? node.play_count ?? node.view_count ?? node.ig_play_count ?? 0\n  );\n  const videoUrl = getVideoUrl(node);\n  const imagemUrl = getImagemUrl(node);\n  const ts = getTimestamp(node);\n\n  return {\n    link_post: shortCode ? `https://www.instagram.com/p/${shortCode}/` : '',\n    shortCode: shortCode,\n    tipo_conteudo: tipoConteudo,\n    formato_midia: tipoConteudo === 'video' ? 'video' : 'imagem',\n    link_midia: tipoConteudo === 'video' ? videoUrl : imagemUrl,\n    thumb: tipoConteudo === 'video' ? imagemUrl : null,\n    legenda: getLegenda(node),\n    curtidas,\n    comentarios,\n    views,\n    engajamento_total: curtidas + comentarios,\n    publicado_em: ts ? new Date(ts * 1000).toISOString() : null,\n  };\n}\n\nconst grupos = rapItems.map((rapItem, idx) => {\n  const orig = origItems[idx]?.json || {};\n  const resp = rapItem.json || {};\n  const origemTipo = normalizarTipoOrigem(orig.tipo);\n  const handle = orig.handle;\n  const posts = extrairPosts(resp)\n    .slice(0, 20)\n    .map(normalizarPost)\n    .filter(p => p.link_post || p.link_midia || p.legenda);\n  return { handle, tipo: origemTipo, total_posts: posts.length, posts };\n});\n\nconst cliente      = grupos.find(g => g.tipo === 'cliente') || null;\nconst concorrentes = grupos.filter(g => g.tipo === 'concorrente');\n\nreturn [{ json: { cliente, concorrentes } }];\n"
      },
      "id": "2aa37e56-a382-4c1b-adb1-c206c6802e79",
      "name": "Normalizar Posts1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        7856
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "9d5e0651-7d11-47d7-a59c-1996c3230eeb",
      "name": "Aguardar Perfil e Posts1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1808,
        7728
      ]
    },
    {
      "parameters": {
        "jsCode": "// Mescla Perfis + Posts em um JSON único { cliente, concorrentes }, match por handle\nconst perfilItems = $('Normalizar Perfis-standBy').all();\nconst postsItems  = $('getComentarios1').all();\nconst postsFallback = $('Normalizar Posts1').all();\nconst ctx = $('Expandir Handles').first().json;\n\nfunction toNumber(v, fallback = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction normHandle(h) {\n  return String(h || '').trim().toLowerCase().replace(/^@/, '');\n}\n\nfunction indexarPostsPorHandle(grupoPosts) {\n  const mapa = new Map();\n  if (!grupoPosts) return mapa;\n  if (grupoPosts.cliente?.handle) mapa.set(normHandle(grupoPosts.cliente.handle), grupoPosts.cliente);\n  for (const c of grupoPosts.concorrentes || []) {\n    if (c?.handle) mapa.set(normHandle(c.handle), c);\n  }\n  return mapa;\n}\n\nfunction calcularMetricas(posts, seguidores) {\n  const lista = Array.isArray(posts) ? posts : [];\n  const total = lista.length;\n  if (total === 0) {\n    return {\n      total_posts_analisados: 0,\n      taxa_engajamento: '0.00',\n      media_curtidas: 0,\n      media_comentarios: 0,\n      media_views: 0,\n      mix_formatos: { reels_pct: 0, carrossel_pct: 0, foto_pct: 0 },\n      top_posts: [],\n      posts_video: [],\n      ultimos_15_posts: [],\n    };\n  }\n  const somaCurtidas    = lista.reduce((s, p) => s + toNumber(p.curtidas), 0);\n  const somaComentarios = lista.reduce((s, p) => s + toNumber(p.comentarios), 0);\n  const somaViews       = lista.reduce((s, p) => s + toNumber(p.views), 0);\n  const somaEng         = lista.reduce((s, p) => s + toNumber(p.engajamento_total ?? (p.curtidas + p.comentarios)), 0);\n\n  const segurosSeguidores = toNumber(seguidores) || 1;\n  const taxa_engajamento = ((somaEng / total / segurosSeguidores) * 100).toFixed(2);\n\n  const qtdVideo     = lista.filter(p => p.tipo_conteudo === 'video').length;\n  const qtdCarrossel = lista.filter(p => p.tipo_conteudo === 'carrossel').length;\n  const qtdFoto      = lista.filter(p => p.tipo_conteudo === 'imagem' || p.tipo_conteudo === 'foto').length;\n\n  return {\n    total_posts_analisados: total,\n    taxa_engajamento,\n    media_curtidas:    Math.round(somaCurtidas    / total),\n    media_comentarios: Math.round(somaComentarios / total),\n    media_views:       Math.round(somaViews       / total),\n    mix_formatos: {\n      reels_pct:     Math.round((qtdVideo     / total) * 100),\n      carrossel_pct: Math.round((qtdCarrossel / total) * 100),\n      foto_pct:      Math.round((qtdFoto      / total) * 100),\n    },\n    top_posts: [...lista].sort((a, b) => toNumber(b.engajamento_total) - toNumber(a.engajamento_total)).slice(0, 5),\n    posts_video: lista.filter(p => p.tipo_conteudo === 'video' && p.link_midia),\n    ultimos_15_posts: lista.slice(0, 15),\n  };\n}\n\nfunction mesclar(blocoPerfil, entradaPosts) {\n  const posts       = entradaPosts?.posts ?? [];\n  const total_posts = entradaPosts?.total_posts ?? posts.length;\n  const seguidores  = blocoPerfil?.perfil?.metricas?.seguidores ?? 0;\n  return {\n    handle:     blocoPerfil?.handle ?? entradaPosts?.handle ?? '',\n    tipo:       blocoPerfil?.tipo   ?? entradaPosts?.tipo   ?? '',\n    encontrado: Boolean(blocoPerfil?.encontrado),\n    perfil:     blocoPerfil?.perfil ?? null,\n    total_posts,\n    posts,\n    metricas_posts: calcularMetricas(posts, seguidores),\n  };\n}\n\nconst grupoPerfil = perfilItems[0]?.json || {};\nlet grupoPosts  = postsItems[0]?.json || postsFallback[0]?.json || {};\nif (!grupoPosts?.cliente || !Array.isArray(grupoPosts.cliente.posts)) {\n  grupoPosts = postsFallback[0]?.json || {};\n}\nconst mapaPosts   = indexarPostsPorHandle(grupoPosts);\n\nconst clienteMesclado = mesclar(\n  grupoPerfil.cliente,\n  mapaPosts.get(normHandle(grupoPerfil?.cliente?.handle)) || grupoPosts.cliente || {},\n);\n\nconst concorrentesMesclados = (grupoPerfil.concorrentes || []).map(c =>\n  mesclar(c, mapaPosts.get(normHandle(c?.handle)) || {}),\n);\n\nreturn [{ json: {\n  nome_cliente:         ctx.nome_cliente,\n  nicho:                ctx.nicho,\n  handle_cliente:       ctx.handle_cliente,\n  concorrentes_handles: ctx.concorrentes,\n  todos_handles:        ctx.todos_handles,\n  iniciado_em:          ctx.iniciado_em,\n  cliente:              clienteMesclado,\n  concorrentes:         concorrentesMesclados,\n}}];\n"
      },
      "id": "edd458f4-76e3-4484-a0ab-f69162f5207d",
      "name": "Mesclar Perfil + Posts1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        7728
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrai padrões estruturais de conteúdo: ganchos, hashtags, CTAs, pilares,\n// comprimento de legenda, mentions recorrentes e score comparativo cliente vs concorrentes\nconst dados       = $input.first().json;\nconst cliente     = dados.cliente;\nconst concorrentes = dados.concorrentes || [];\n\n\nfunction extrairHashtags(texto) {\n  const m = String(texto || '').match(/#[A-Za-z0-9_ÀÁÂÃÄÇÉÊÍÓÔÕÚàáâãäçéêíóôõú]+/g);\n  return m || [];\n}\n\nfunction extrairMentions(texto) {\n  const m = String(texto || '').match(/@[A-Za-z0-9_.]+/g);\n  return m || [];\n}\n\nfunction primeiraLinha(texto) {\n  return String(texto || '').split('\\n')[0].slice(0, 140);\n}\n\nfunction inferirCta(texto) {\n  const t = String(texto || '').toLowerCase();\n  const padroes = [\n    { tag: 'comenta_palavra',     re: /comenta\\s+[\\\"'a-z0-9çãéõíá]+/i },\n    { tag: 'dm_direct',            re: /(chama no direct|no direct|me manda|me chama)/i },\n    { tag: 'salva_post',           re: /(salva esse post|salva aqui|salva pra)/i },\n    { tag: 'link_bio',             re: /(link na bio|clica na bio|bio\\s*👆)/i },\n    { tag: 'marca_amigo',          re: /(marca (aquele|aquela|um|uma)|marque)/i },\n    { tag: 'segue_para_mais',      re: /(me segue|segue (a|o)? @|segue pra mais)/i },\n    { tag: 'curte_e_compartilha',  re: /(curte e compartilha|compartilha com)/i },\n    { tag: 'pergunta_aberta',      re: /\\?\\s*$/m },\n  ];\n  const hits = [];\n  for (const p of padroes) if (p.re.test(t)) hits.push(p.tag);\n  return hits.length ? hits : ['sem_cta_claro'];\n}\n\nconst STOP = new Set([\n  'para','pelo','pela','pelos','pelas','como','mais','menos','esse','essa','essas','esses',\n  'isto','isso','esta','este','estas','estes','você','voces','vocês','então','entao',\n  'sobre','também','tambem','ainda','aqui','tudo','todas','todos','quando','quanto','porque',\n  'onde','tenho','tinha','tenha','tenham','muito','muita','muitas','muitos','foram','estão',\n  'estou','minha','minhas','meu','meus','nosso','nossos','nossa','nossas','tanto',\n  'agora','mesmo','mesma','mesmos','mesmas','depois','antes','dentro','sempre',\n  'nunca','jamais','ontem','hoje','amanhã','amanha','vamos','vamo','bora','fazer',\n  'feito','faço','faco','fazendo','falar','falei','falou','quase','todo','toda',\n  'pode','podem','posso','temos','tinha','estavam','fosse','seria','seriam',\n]);\n\nfunction clusterizarTemas(posts) {\n  const freq = new Map();\n  for (const p of posts) {\n    const palavras = String(p.legenda || '')\n      .toLowerCase()\n      .replace(/[#@][\\wÀ-ÿ]+/g, ' ')\n      .replace(/https?:\\/\\/\\S+/g, ' ')\n      .replace(/[^\\wÀ-ÿ\\s]/g, ' ')\n      .split(/\\s+/)\n      .filter(w => w.length >= 4 && !STOP.has(w));\n    for (const w of palavras) freq.set(w, (freq.get(w) || 0) + 1);\n  }\n  return Array.from(freq.entries())\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 15)\n    .map(([palavra, f]) => ({ palavra, freq: f }));\n}\n\nfunction analisarPerfil(bloco) {\n  const posts = bloco?.posts || [];\n  const top   = bloco?.metricas_posts?.top_posts || [];\n  const todasHashtags = [];\n  const todasMentions = [];\n  let somaLenTop = 0;\n  let somaLenTodos = 0;\n\n  for (const p of posts) {\n    todasHashtags.push(...extrairHashtags(p.legenda));\n    todasMentions.push(...extrairMentions(p.legenda));\n    somaLenTodos += String(p.legenda || '').length;\n  }\n  for (const p of top) somaLenTop += String(p.legenda || '').length;\n\n  const freqHashtags = new Map();\n  for (const h of todasHashtags) {\n    const k = h.toLowerCase();\n    freqHashtags.set(k, (freqHashtags.get(k) || 0) + 1);\n  }\n  const freqMentions = new Map();\n  for (const m of todasMentions) {\n    const k = m.toLowerCase();\n    freqMentions.set(k, (freqMentions.get(k) || 0) + 1);\n  }\n\n  const ctasTop = {};\n  for (const p of top) {\n    for (const c of inferirCta(p.legenda)) {\n      ctasTop[c] = (ctasTop[c] || 0) + 1;\n    }\n  }\n  const ctaDominante = Object.entries(ctasTop).sort((a, b) => b[1] - a[1])[0]?.[0] || 'sem_cta_claro';\n\n  return {\n    handle: bloco?.handle,\n    tipo:   bloco?.tipo,\n    ganchos_top: top.map(p => ({\n      shortcode: (p.link_post || '').split('/p/')[1]?.replace('/', '') || '',\n      primeira_linha: primeiraLinha(p.legenda),\n      tipo_conteudo: p.tipo_conteudo,\n      engajamento:   p.engajamento_total,\n      curtidas:      p.curtidas,\n      comentarios:   p.comentarios,\n    })),\n    hashtags_frequentes: Array.from(freqHashtags.entries())\n      .sort((a, b) => b[1] - a[1])\n      .slice(0, 15)\n      .map(([h, f]) => ({ hashtag: h, freq: f })),\n    mentions_recorrentes: Array.from(freqMentions.entries())\n      .sort((a, b) => b[1] - a[1])\n      .slice(0, 10)\n      .map(([m, f]) => ({ mention: m, freq: f })),\n    cta_dominante: ctaDominante,\n    ctas_top: ctasTop,\n    comprimento_legenda_media_todos: posts.length ? Math.round(somaLenTodos / posts.length) : 0,\n    comprimento_legenda_media_top:   top.length   ? Math.round(somaLenTop   / top.length)   : 0,\n    temas_pilares: clusterizarTemas(posts),\n  };\n}\n\nconst analiseCliente = analisarPerfil(cliente);\nconst analiseConcs   = concorrentes.map(analisarPerfil);\n\nfunction num(v) { const n = Number(v); return Number.isFinite(n) ? n : 0; }\nconst mpc = cliente?.metricas_posts || {};\nconst melhor = {\n  seguidores:        { handle: null, valor: 0 },\n  taxa_eng:          { handle: null, valor: 0 },\n  media_curtidas:    { handle: null, valor: 0 },\n  media_comentarios: { handle: null, valor: 0 },\n};\nfor (const cc of concorrentes) {\n  const s     = num(cc?.perfil?.metricas?.seguidores);\n  const te    = num(cc?.metricas_posts?.taxa_engajamento);\n  const mc    = num(cc?.metricas_posts?.media_curtidas);\n  const mcomm = num(cc?.metricas_posts?.media_comentarios);\n  if (s     > melhor.seguidores.valor)        melhor.seguidores        = { handle: cc.handle, valor: s };\n  if (te    > melhor.taxa_eng.valor)          melhor.taxa_eng          = { handle: cc.handle, valor: te };\n  if (mc    > melhor.media_curtidas.valor)    melhor.media_curtidas    = { handle: cc.handle, valor: mc };\n  if (mcomm > melhor.media_comentarios.valor) melhor.media_comentarios = { handle: cc.handle, valor: mcomm };\n}\nfunction gap(clienteVal, melhorVal) {\n  const cv = num(clienteVal);\n  const mv = num(melhorVal);\n  if (mv <= 0) return '0.00';\n  return (((cv - mv) / mv) * 100).toFixed(2);\n}\nconst scoreComparativo = {\n  seguidores:        { cliente: num(cliente?.perfil?.metricas?.seguidores), melhor_handle: melhor.seguidores.handle,        melhor_valor: melhor.seguidores.valor,        gap_pct: gap(cliente?.perfil?.metricas?.seguidores, melhor.seguidores.valor) },\n  taxa_engajamento:  { cliente: num(mpc.taxa_engajamento),                   melhor_handle: melhor.taxa_eng.handle,          melhor_valor: melhor.taxa_eng.valor,          gap_pct: gap(mpc.taxa_engajamento, melhor.taxa_eng.valor) },\n  media_curtidas:    { cliente: num(mpc.media_curtidas),                     melhor_handle: melhor.media_curtidas.handle,    melhor_valor: melhor.media_curtidas.valor,    gap_pct: gap(mpc.media_curtidas, melhor.media_curtidas.valor) },\n  media_comentarios: { cliente: num(mpc.media_comentarios),                  melhor_handle: melhor.media_comentarios.handle, melhor_valor: melhor.media_comentarios.valor, gap_pct: gap(mpc.media_comentarios, melhor.media_comentarios.valor) },\n};\n\nconst hashCliente = new Set(analiseCliente.hashtags_frequentes.map(h => h.hashtag));\nconst hashConc = new Map();\nfor (const a of analiseConcs) {\n  for (const h of a.hashtags_frequentes) {\n    hashConc.set(h.hashtag, (hashConc.get(h.hashtag) || 0) + h.freq);\n  }\n}\nconst hashtagsOportunidade = Array.from(hashConc.entries())\n  .filter(([k]) => !hashCliente.has(k))\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 15)\n  .map(([hashtag, freq]) => ({ hashtag, freq_entre_concorrentes: freq }));\n\nreturn [{ json: {\n  ...dados,\n  analise_conteudo: {\n    cliente: analiseCliente,\n    concorrentes: analiseConcs,\n    score_comparativo: scoreComparativo,\n    hashtags_oportunidade: hashtagsOportunidade,\n  },\n}}];\n"
      },
      "id": "8380cd9f-3f04-46ad-8001-a5128ec93ffa",
      "name": "Analisar Estrutura de Conteúdo1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        7728
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Mesclar Perfil + Posts1').first().json.nicho + ' tendências do ano para o instagram Brasil' }}"
            },
            {
              "name": "gl",
              "value": "br"
            },
            {
              "name": "hl",
              "value": "pt-br"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "api_key",
              "value": "1275b8bf102a5db3205066d296e4854c49ff79964df91be424ab990c91759a6c"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "930eb361-f730-41c4-a00f-4bea62373a8e",
      "name": "Serper — Tendências do Nicho1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        7728
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Seleciona até 5 vídeos virais balanceados: 1 por concorrente (o top dele) +\n// completa com globais até 5. Evita concentração num único concorrente.\nconst base    = $('Mesclar Perfil + Posts1').first().json;\nconst analise = $('Analisar Estrutura de Conteúdo1').first().json.analise_conteudo || {};\nconst tendRaw = $('Serper — Tendências do Nicho1').first().json || {};\nconst kwRaw   = $('Serper — Keywords do Nicho').first().json || {};\nconst adsRaw  = $('Facebook Ads Library').first().json || {};\n\nlet insights_comentarios_auditoria = null;\ntry {\n  insights_comentarios_auditoria =\n    $('Consolidar — Insights comentários').first()?.json?.insights_comentarios_auditoria ?? null;\n} catch (_) {}\nconst tendencias_google = (tendRaw?.organic || []).slice(0, 8).map(r => ({\n  titulo: r.title, snippet: r.snippet, link: r.link,\n}));\n\nconst keywords_google = (kwRaw?.organic || []).slice(0, 8).map(r => ({\n  titulo: r.title, snippet: r.snippet,\n}));\n\nconst adsArr = Array.isArray(adsRaw) ? adsRaw : (adsRaw?.results || adsRaw?.data || []);\nconst anuncios_facebook = adsArr.slice(0, 15).map(ad => ({\n  page_name:   ad.pageName || ad.page_name || ad.page || '',\n  titulo:      ad.title    || ad.ad_creative_body || ad.body || '',\n  cta:         ad.cta_text || ad.call_to_action_type || ad.cta  || '',\n  status:      ad.is_active ? 'ativo' : 'inativo',\n  formato:     ad.ad_type  || ad.format || '',\n  url_destino: ad.snapshot_url || ad.link || '',\n}));\n\nfunction num(v) { const n = Number(v); return Number.isFinite(n) ? n : 0; }\n\nconst concorrentes = base.concorrentes || [];\nconst topPorConcorrente = [];\nconst demaisVideos = [];\n\nfor (const cc of concorrentes) {\n  const videos = (cc?.metricas_posts?.posts_video || [])\n    .filter(v => v.link_midia)\n    .sort((a, b) => num(b.engajamento_total) - num(a.engajamento_total));\n  if (videos[0]) {\n    topPorConcorrente.push({\n      ...videos[0],\n      handle_concorrente:     cc.handle,\n      seguidores_concorrente: num(cc.perfil?.metricas?.seguidores),\n      taxa_eng_concorrente:   cc.metricas_posts?.taxa_engajamento,\n    });\n  }\n  for (const v of videos.slice(1)) {\n    demaisVideos.push({\n      ...v,\n      handle_concorrente:     cc.handle,\n      seguidores_concorrente: num(cc.perfil?.metricas?.seguidores),\n      taxa_eng_concorrente:   cc.metricas_posts?.taxa_engajamento,\n    });\n  }\n}\n\ndemaisVideos.sort((a, b) => num(b.engajamento_total) - num(a.engajamento_total));\nconst restante = Math.max(0, 5 - topPorConcorrente.length);\nconst selecao  = [...topPorConcorrente, ...demaisVideos.slice(0, restante)].slice(0, 5);\n\nconst mergedBase = {\n  ...base,\n  analise_conteudo: analise,\n  tendencias_google,\n  keywords_google,\n  anuncios_facebook,\n  insights_comentarios_auditoria,\n};\n\nif (selecao.length === 0) {\n  return [{ json: { ...mergedBase, video_atual: null, sem_videos: true, top_virais: [] } }];\n}\n\nreturn selecao.map((video, idx) => ({\n  json: {\n    ...mergedBase,\n    video_atual: video,\n    video_index: idx,\n    sem_videos:  false,\n    top_virais:  selecao,\n  }\n}));\n"
      },
      "id": "fca5d705-248c-4659-b931-124b1876904f",
      "name": "Selecionar Vídeos Virais1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        7728
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.video_atual.link_midia }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "videoFile"
            }
          },
          "timeout": 60000
        }
      },
      "id": "b559baf2-fb5a-48cc-a81a-247ee437221f",
      "name": "Download Vídeo Viral1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4656,
        7712
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Caminho sem vídeos: entrega estrutura esperada com transcrições vazias\nreturn [{ json: { transcricoes_coletadas: [], sem_videos: true } }];\n"
      },
      "id": "97ac869b-8d6e-4df6-bc52-af8e56b3ec29",
      "name": "Passthrough Sem Vídeos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        7904
      ]
    },
    {
      "parameters": {
        "jsCode": "// Expande todos_handles em N itens (1 por handle) carregando contexto completo\nconst data = $input.first().json;\n\nif (!Array.isArray(data.todos_handles) || data.todos_handles.length === 0) {\n  throw new Error('todos_handles ausente ou vazio.');\n}\n\nreturn data.todos_handles.map(handle => ({\n  json: {\n    nome_cliente:   data.nome_cliente,\n    nicho:          data.nicho,\n    handle_cliente: data.handle_cliente,\n    concorrentes:   data.concorrentes,\n    todos_handles:  data.todos_handles,\n    iniciado_em:    data.iniciado_em,\n    handle,\n    tipo: handle === data.handle_cliente ? 'cliente' : 'concorrente',\n  }\n}));\n"
      },
      "id": "251478cc-b10a-4bde-af4e-9b721fbfbdaf",
      "name": "Expandir Handles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        7728
      ]
    },
    {
      "parameters": {
        "url": "https://google.serper.dev/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Mesclar Perfil + Posts1').first().json.nicho + '' }}"
            },
            {
              "name": "gl",
              "value": "br"
            },
            {
              "name": "hl",
              "value": "pt-br"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "api_key",
              "value": "a112b81a9e72801a78108e33c40ebada57ac7bc2"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "78c28606-4b39-42e2-948f-116ed50e8a1c",
      "name": "Serper — Keywords do Nicho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        7728
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://facebook-ads-library-scraper-api.p.rapidapi.com/search/ads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Mesclar Perfil + Posts1').first().json.nicho }}"
            },
            {
              "name": "search_type",
              "value": "keyword_unordered"
            },
            {
              "name": "ad_type",
              "value": "all"
            },
            {
              "name": "status",
              "value": "ACTIVE"
            },
            {
              "name": "country",
              "value": "ALL"
            },
            {
              "name": "media_type",
              "value": "ALL"
            },
            {
              "name": "sort_by",
              "value": "total_impressions"
            },
            {
              "name": "trim",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Rapidapi-Key",
              "value": "=0127634a29msh4a303edef58f6dbp1430c6jsnd00af7a6bc1e"
            },
            {
              "name": "X-Rapidapi-Host",
              "value": "facebook-scraper-api4.p.rapidapi.com"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "23a1d8d8-4ee5-4838-a84c-3ecf1ea40b61",
      "name": "Facebook Ads Library",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3856,
        7728
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-videos",
              "leftValue": "={{ $json.sem_videos }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "855999ae-d517-4a66-a66e-e6ea400db4ef",
      "name": "Tem Vídeos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4384,
        7728
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "videoFile",
        "options": {
          "language": "pt"
        }
      },
      "id": "4c186c71-4fe2-4642-a1b9-f84cf0cc4703",
      "name": "OpenAI Whisper — Transcrição",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4880,
        7712
      ],
      "credentials": {
        "openAiApi": {
          "id": "mQKFKMQMdtkSmyek",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Combina transcrição do Whisper com metadados do vídeo atual\nconst whisperItems = $input.all();\nconst videoItems   = $('Selecionar Vídeos Virais1').all();\n\nreturn whisperItems.map((item, idx) => {\n  const video = videoItems[idx]?.json?.video_atual || {};\n  return { json: {\n    transcricao:        item.json.text || '[sem transcrição]',\n    handle_concorrente: video.handle_concorrente || '',\n    legenda:            video.legenda            || '',\n    curtidas:           video.curtidas           || 0,\n    comentarios:        video.comentarios        || 0,\n    engajamento:        video.engajamento_total  || 0,\n    tipo_conteudo:      video.tipo_conteudo      || 'video',\n    link_post:          video.link_post          || '',\n    video_index:        idx,\n  }};\n});\n"
      },
      "id": "df965284-a037-4ed5-a20b-e8d551321127",
      "name": "Enriquecer Transcrição",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5088,
        7712
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "transcricoes_coletadas",
        "options": {}
      },
      "id": "aa69de98-bb5a-4402-97c5-c165da80d038",
      "name": "Agregar Transcrições",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5280,
        7712
      ]
    },
    {
      "parameters": {
        "jsCode": "// Passthrough simples — recebe do branch que rodou (com vídeos OU sem vídeos)\n// e repassa o item adiante. Como só um dos lados do IF executa, este Code roda 1x.\nreturn [{ json: $input.first().json }];\n"
      },
      "id": "0668f163-bacc-4ea6-8eb2-51a83b6f5d49",
      "name": "Unir Caminhos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5552,
        7712
      ]
    },
    {
      "parameters": {
        "jsCode": "// 30 ideias de posts + legenda sugerida (orientação = diretrizes_técnicas do plano já gerado)\nconst gptPlano = $('OpenAI GPT-4.1 — Plano Diretor').first().json;\nconst baseData = $('Montar Payload Calendário').first().json;\n\n// Garante que o conteúdo do GPT anterior seja limpo antes do parse\nconst rawPlano = gptPlano?.choices?.[0]?.message?.content || gptPlano?.output || '';\n\nfunction safeParse(txt) {\n  if (!txt) return null;\n  if (typeof txt === 'object') return txt; // Caso o nó anterior já devolva JSON\n  try { return JSON.parse(txt); } catch (_) {}\n  const m = txt.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (m) { try { return JSON.parse(m[1]); } catch (_) {} }\n  return null;\n}\n\nconst planoParcial = safeParse(rawPlano) || {};\nconst dt = planoParcial.diretrizes_tecnicas || {};\n \n// Prepara as orientações de redação extraídas do Plano Diretor\nconst orientacao_redacao = {\n  briefing_redatores: dt.briefing_redatores || '',\n  tom_de_voz: dt.tom_de_voz || {},\n  seo_instagram: {\n    uso_em_legenda: dt.seo_instagram?.uso_em_legenda || '',\n    palavras_chave_principais: dt.seo_instagram?.palavras_chave_principais || [],\n    palavras_chave_secundarias: dt.seo_instagram?.palavras_chave_secundarias || [],\n  },\n  hashtags_estrategicas: dt.hashtags_estrategicas || {},\n  ctas_recomendados: (dt.ctas_recomendados || []).slice(0, 14),\n  ganchos_modelo: (dt.ganchos_modelo || []).slice(0, 16),\n  pilares_conteudo: dt.pilares_conteudo || [],\n};\n\nconst userContent = JSON.stringify({\n  tarefa: 'Gerar 30 BRIEFINGS DE CONTEÚDO COMPLETOS baseados na estratégia do Plano Diretor.',\n  orientacao_redacao,\n  plano_diretor_json: planoParcial,\n  contexto_extra: {\n    nome_cliente: baseData.nome_cliente,\n    nicho: baseData.nicho,\n    handle_cliente: `@${baseData.handle_cliente}`,\n    data_referencia: new Date().toLocaleDateString('pt-BR'),\n  },\n}, null, 2);\n\nconst systemPrompt = `Você é o Estrategista de Conteúdo e Redator Sênior encarregado da execução do Plano Diretor. Sua missão é transformar a estratégia em 30 dias de conteúdo implacável para Instagram.\n\nREGRAS DE OURO:\n1. FIDELIDADE AO PLANO: Use obrigatoriamente o tom_de_voz, as diretrizes de SEO e os ganchos do Plano Diretor.\n2. ESTRUTURA DE FUNIL: Divida os 22 dias em 10 posts de Atração (Alcance), 7 de Autoridade (Engajamento) e 5 de Conversão (Venda).\n3. LEGENDAS PRONTAS: Não entregue resumos. Entregue a legenda COMPLETA, formatada para mobile (frases curtas, quebras de linha).\n4. SEO KILLER: Coloque a palavra-chave principal na PRIMEIRA linha da legenda, conforme as melhores práticas de busca do Instagram.\n\nSAÍDA — JSON ÚNICO (Sem markdown fence):\n{\n  \"calendario_30_dias\": [\n    {\n      \"dia\": 1,\n      \"dia_semana\": \"Segunda\",\n      \"formato\": \"Reel | Carrossel | Foto\",\n      \"pilar\": \"...\",\n      \"tema\": \"...\",\n      \"gancho_3s\": \"...\",\n      \"objetivo\": \"Alcance | Engajamento | Conversão\",\n      \"sugestao_legenda\": \"LEGENDA COMPLETA AQUI (Gancho + Desenvolvimento + CTA + Bloco de Hashtags)\",\n      \"cta\": \"O CTA exato para este post\"\n    }\n  ]\n}\n\nPROIBIDO: Texto genérico ou legendas vazias. 22 dias distintos e progressivos.`;\n\nreturn [{ json: {\n  ...baseData,\n  gpt_payload_calendario30: {\n    model: 'gpt-4.1', // Certifique-se que seu endpoint suporta esta versão\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userContent },\n    ],\n    max_tokens: 16000, // Necessário para 30 legendas longas\n    temperature: 0.42,\n    response_format: { type: 'json_object' }\n  },\n}}];"
      },
      "id": "e732c560-d7e5-4ef1-9548-24adf375520d",
      "name": "Montar Payload Calendário ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7152,
        7712
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4.1",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.gpt_payload_calendario30.messages[0].content }}"
            },
            {
              "content": "={{ $json.gpt_payload_calendario30.messages[1].content }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "maxTokens": 16000,
          "temperature": 0.42
        },
        "requestOptions": {}
      },
      "id": "92f461a8-e838-4f0a-bc7f-1f9d5b6d585a",
      "name": "OpenAI GPT-4.1 — Calendário 30 Posts1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        7392,
        7712
      ],
      "credentials": {
        "openAiApi": {
          "id": "mQKFKMQMdtkSmyek",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normaliza 30 ideias de post + legenda sugerida\nconst gptPlano = $('OpenAI GPT-4.1 — Plano Diretor').first().json;\nconst baseData = $('Montar Payload Calendário').first().json;\nconst rCal = $('OpenAI GPT-4.1 — Calendário 30 Posts1').first().json;\n\nfunction safeParse(txt) {\n  if (!txt) return null;\n  try { return JSON.parse(txt); } catch (_) {}\n  const m = txt.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (m) { try { return JSON.parse(m[1]); } catch (_) {} }\n  return null;\n}\n\nfunction extractCal(resp) {\n  const raw = resp?.choices?.[0]?.message?.content || '';\n  const o = safeParse(raw) || {};\n  const arr = o.calendario_30_dias || o.calendario_chunk || [];\n  return Array.isArray(arr) ? arr : [];\n}\n\nconst tCal = rCal?.usage?.total_tokens || 0;\nlet merged = extractCal(rCal);\n\nconst rawPlano = gptPlano?.choices?.[0]?.message?.content || '';\nconst planoRef = safeParse(rawPlano) || {};\nconst pilares = planoRef.diretrizes_tecnicas?.pilares_conteudo || [];\nconst diasSemana = ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'];\n\nfunction normRow(dia, row) {\n  const r = row || {};\n  return {\n    dia,\n    dia_semana: r.dia_semana || diasSemana[(dia - 1) % 7],\n    formato: r.formato || 'Reel',\n    pilar: r.pilar || pilares[0]?.pilar || 'Conteúdo',\n    tema: r.tema || '[definir tema]',\n    gancho_3s: r.gancho_3s || '[gancho 0–3s]',\n    estrutura_resumida: r.estrutura_resumida || 'abertura → desenvolvimento → CTA',\n    cta: r.cta || '[CTA]',\n    hashtags: Array.isArray(r.hashtags) ? r.hashtags : [],\n    objetivo: r.objetivo || 'Engajamento',\n    sugestao_legenda: r.sugestao_legenda || '[redigir legenda conforme briefing_redatores e tom_de_voz do plano]',\n  };\n}\n\nconst byDay = {};\nfor (const row of merged) {\n  const d = Number(row.dia);\n  if (d >= 1 && d <= 30) byDay[d] = normRow(d, row);\n}\n\nfor (let d = 1; d <= 30; d++) {\n  if (!byDay[d]) byDay[d] = normRow(d, null);\n}\n\nconst calendario_30_dias_final = Array.from({ length: 30 }, (_, i) => byDay[i + 1]);\n\nreturn [{\n  json: {\n    ...baseData,\n    _consolidar_merge: true,\n    gpt_plano_response: gptPlano,\n    calendario_30_dias_final,\n    tokens_calendario_total: tCal,\n    _calendario_gaps_preenchidos: merged.length < 30,\n  },\n}];"
      },
      "id": "7a392d90-ebf5-4eb6-bd5e-f054b2707832",
      "name": "Unir Calendário + Garantir ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7632,
        7712
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parseia o JSON do Plano Diretor (+ calendário 30) e remonta markdown\nconst input = $input.first().json;\nconst baseData = $('Montar Payload Calendário').first().json;\n\nfunction safeParse(txt) {\n  if (!txt) return null;\n  try { return JSON.parse(txt); } catch (_) {}\n  // tenta remover ```json ... ``` se vier embrulhado\n  const m = txt.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (m) { try { return JSON.parse(m[1]); } catch (_) {} }\n  return null;\n}\n\nlet plano;\nlet tokens_diretor;\n\nif (input._consolidar_merge && input.gpt_plano_response) {\n  const rawPlano = input.gpt_plano_response?.choices?.[0]?.message?.content || '';\n  tokens_diretor = (input.gpt_plano_response?.usage?.total_tokens || 0) + (input.tokens_calendario_total || 0);\n  plano = safeParse(rawPlano) || { _erro: 'JSON do GPT Plano não pôde ser parseado', _bruto: rawPlano.slice(0, 1000) };\n  if (input.calendario_30_dias_final && Array.isArray(input.calendario_30_dias_final) && input.calendario_30_dias_final.length >= 30 && plano.diretrizes_tecnicas) {\n    plano.diretrizes_tecnicas.calendario_30_dias = input.calendario_30_dias_final;\n  } else if (input.gpt_calendario_response) {\n    const rawCal = input.gpt_calendario_response?.choices?.[0]?.message?.content || '';\n    tokens_diretor = (input.gpt_plano_response?.usage?.total_tokens || 0) + (input.gpt_calendario_response?.usage?.total_tokens || 0);\n    const calObj = safeParse(rawCal) || {};\n    const cal30 = calObj.calendario_30_dias || [];\n    if (plano.diretrizes_tecnicas && Array.isArray(cal30) && cal30.length) {\n      plano.diretrizes_tecnicas.calendario_30_dias = cal30;\n    }\n  }\n} else {\n  const gptResp = input;\n  const rawContent = gptResp?.choices?.[0]?.message?.content || '';\n  tokens_diretor = gptResp?.usage?.total_tokens || 0;\n  plano = safeParse(rawContent) || { _erro: 'JSON do GPT não pôde ser parseado', _bruto: rawContent.slice(0, 1000) };\n}\n\nfunction md(text) { return (text == null ? '' : String(text)).trim(); }\nfunction bullets(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) return '_[indisponível]_';\n  return arr.map(i => `- ${md(typeof i === 'string' ? i : JSON.stringify(i))}`).join('\\n');\n}\nfunction secCal30Ideias(rows) {\n  if (!Array.isArray(rows) || rows.length === 0) return '_[indisponível]_';\n  return rows.map((r) => {\n    const leg = md(r.sugestao_legenda || '');\n    const tags = Array.isArray(r.hashtags) ? r.hashtags.join(' ') : '';\n    return `#### Dia ${r.dia} — ${md(r.dia_semana)} — ${md(r.formato)} — ${md(r.pilar)}\n**Tema:** ${md(r.tema)}\n**Gancho (0–3s):** ${md(r.gancho_3s)}\n**Estrutura:** ${md(r.estrutura_resumida)}\n**CTA:** ${md(r.cta)} · **Objetivo:** ${md(r.objetivo)}\n**Legenda sugerida:**\n${leg || '_[indisponível]_'}\n**Hashtags:** ${tags || '—'}\n`;\n  }).join('\\n---\\n');\n}\n\nfunction tabela(headers, rows) {\n  if (!Array.isArray(rows) || rows.length === 0) return '_[indisponível]_';\n  const head = `| ${headers.join(' | ')} |`;\n  const sep  = `| ${headers.map(() => '---').join(' | ')} |`;\n  const body = rows.map(r => `| ${headers.map(h => md(r[h] ?? '')).join(' | ')} |`).join('\\n');\n  return `${head}\\n${sep}\\n${body}`;\n}\n\nfunction buildDadosMetricasPerfis(baseData) {\n  const mp = baseData.cliente?.metricas_posts || {};\n  const pf = baseData.cliente?.perfil || {};\n  const top3Cli = (mp.top_posts || []).slice(0, 3).map(p => ({\n    link_post: p.link_post || '',\n    tipo: p.tipo_conteudo || '',\n    legenda: (p.legenda || '').slice(0, 220),\n    curtidas: p.curtidas ?? 0,\n    comentarios: p.comentarios ?? 0,\n    views: p.views ?? 0,\n    engajamento_total: p.engajamento_total ?? 0,\n  }));\n  const conc = (baseData.concorrentes || []).map(c => ({\n    handle: c.handle,\n    metricas_perfil: c.perfil?.metricas || {},\n    metricas_posts: {\n      taxa_engajamento: c.metricas_posts?.taxa_engajamento,\n      media_curtidas: c.metricas_posts?.media_curtidas,\n      media_comentarios: c.metricas_posts?.media_comentarios,\n      media_views: c.metricas_posts?.media_views,\n      mix_formatos: c.metricas_posts?.mix_formatos,\n    },\n    top_3_melhores_posts: (c.metricas_posts?.top_posts || []).slice(0, 3).map(p => ({\n      link_post: p.link_post || '',\n      tipo: p.tipo_conteudo || '',\n      legenda: (p.legenda || '').slice(0, 220),\n      curtidas: p.curtidas ?? 0,\n      comentarios: p.comentarios ?? 0,\n      views: p.views ?? 0,\n      engajamento_total: p.engajamento_total ?? 0,\n    })),\n  }));\n  return {\n    cliente: {\n      handle: baseData.handle_cliente,\n      metricas_perfil: pf.metricas || {},\n      metricas_posts_resumo: {\n        taxa_engajamento: mp.taxa_engajamento,\n        media_curtidas: mp.media_curtidas,\n        media_comentarios: mp.media_comentarios,\n        media_views: mp.media_views,\n        mix_formatos: mp.mix_formatos,\n      },\n      top_3_melhores_posts: top3Cli,\n    },\n    concorrentes: conc,\n  };\n}\n\nconst ov = plano.overview_cliente   || {};\nconst dt = plano.diretrizes_tecnicas || {};\n\n// ===== Bloco do CLIENTE =====\nconst blocoCliente = `# 🎯 PLANO DIRETOR DE MARKETING — ${baseData.nome_cliente}\n\n_Gerado em ${new Date().toLocaleDateString('pt-BR')} • Nicho: ${baseData.nicho}_\n\n---\n\n## 📌 Carta do Diretor para @${baseData.handle_cliente}\n\n${md(ov.carta_para_cliente_markdown) || '_[indisponível]_'}\n\n---\n\n## 🔍 Diagnóstico de Identidade\n\n${md(ov.diagnostico_identidade) || '_[indisponível]_'}\n\n## 🎯 Posicionamento Atual\n\n${md(ov.posicionamento_atual) || '_[indisponível]_'}\n\n## ✅ Pontos Fortes\n${bullets(ov.pontos_fortes)}\n\n## ⚠️ Pontos Fracos / Gaps de Vendas\n${bullets(ov.pontos_fracos)}\n\n## 🥊 O Que os Concorrentes Ensinam\n${(ov.comparativo_concorrentes || []).map(c => `\n**${md(c.handle)}**\n- Estratégia que funciona: ${md(c.estrategia_que_funciona)}\n- Como você aplica: ${md(c.como_voce_aplica)}\n- Ganho esperado em vendas: ${md(c.ganho_esperado_vendas)}\n`).join('\\n') || '_[indisponível]_'}\n\n## 🚀 Caminhos de Crescimento\n${tabela(['titulo','movimento','impacto_em_vendas','tempo_para_resultado','esforco'], ov.caminhos_de_crescimento || [])}\n\n## 📈 Previsão de Resultados\n- **30 dias:** ${md(ov.previsao_resultados?.['30_dias'])}\n- **60 dias:** ${md(ov.previsao_resultados?.['60_dias'])}\n- **90 dias:** ${md(ov.previsao_resultados?.['90_dias'])}\n\n## 📊 Métricas dos perfis & top 3 posts\n${(() => {\n  const dm = buildDadosMetricasPerfis(baseData);\n  let s = `### Cliente @${dm.cliente.handle}\\n`;\n  s += `- Seguidores: ${dm.cliente.metricas_perfil?.seguidores ?? '—'} | Posts (feed): ${dm.cliente.metricas_perfil?.qtd_posts ?? '—'} | Taxa eng.: ${dm.cliente.metricas_posts_resumo?.taxa_engajamento ?? '—'}%\\n`;\n  s += '**Top 3 posts:**\\n';\n  (dm.cliente.top_3_melhores_posts || []).forEach((p, i) => {\n    s += `${i + 1}. ${p.tipo || '?'} — ❤️${p.curtidas ?? 0} 💬${p.comentarios ?? 0} 👁${p.views ?? 0} — ${md((p.legenda || '').slice(0, 140))}\\n`;\n    if (p.link_post) s += `   🔗 ${p.link_post}\\n`;\n  });\n  (dm.concorrentes || []).forEach(co => {\n    s += `\\n### Concorrente @${co.handle}\\n`;\n    s += `- Seguidores: ${co.metricas_perfil?.seguidores ?? '—'} | Taxa eng.: ${co.metricas_posts?.taxa_engajamento ?? '—'}%\\n`;\n    s += '**Top 3 posts:**\\n';\n    (co.top_3_melhores_posts || []).forEach((p, i) => {\n      s += `${i + 1}. ${p.tipo || '?'} — ❤️${p.curtidas ?? 0} 💬${p.comentarios ?? 0} 👁${p.views ?? 0} — ${md((p.legenda || '').slice(0, 140))}\\n`;\n      if (p.link_post) s += `   🔗 ${p.link_post}\\n`;\n    });\n  });\n  return s;\n})()}\n`;\n\n// ===== Bloco TÉCNICO =====\nconst tom = dt.tom_de_voz || {};\nconst seo = dt.seo_instagram || {};\nconst freq = dt.frequencia_publicacao || {};\nconst visual = dt.identidade_visual || {};\nconst tipo = visual.tipografia || {};\nconst vest = visual.vestimenta_aparicoes || {};\n\nconst blocoTecnico = `\n\n---\n\n# 🛠️ DIRETRIZES TÉCNICAS — Time de Conteúdo & Design\n\n## 🗣️ Tom de Voz\n- **Personalidade:** ${md(tom.personalidade)}\n- **Como falar:**\n${bullets(tom.como_falar)}\n- **Como NÃO falar:**\n${bullets(tom.como_nao_falar)}\n- **Exemplos OK:** ${bullets(tom.exemplos_frase_ok)}\n- **Exemplos a evitar:** ${bullets(tom.exemplos_frase_evitar)}\n\n## 🔎 SEO Instagram\n- **Palavras-chave principais:** ${(seo.palavras_chave_principais || []).join(', ') || '_[indisponível]_'}\n- **Palavras-chave secundárias:** ${(seo.palavras_chave_secundarias || []).join(', ') || '_[indisponível]_'}\n- **Bio sugerida:** ${md(seo.uso_em_bio)}\n- **Regra para legenda:** ${md(seo.uso_em_legenda)}\n- **Alt text:** ${md(seo.uso_em_alt_text)}\n- **Categoria do perfil:** ${md(seo.categoria_perfil_recomendada)}\n\n## 📅 Frequência de Publicação\n- **Posts por dia:** ${md(freq.posts_por_dia)}\n- **Posts por semana:** ${md(freq.posts_por_semana)}\n- **Distribuição:** Reels ${freq.distribuicao_formatos?.reels_pct ?? '?'}% • Carrossel ${freq.distribuicao_formatos?.carrossel_pct ?? '?'}% • Foto ${freq.distribuicao_formatos?.foto_pct ?? '?'}% • Stories/dia: ${freq.distribuicao_formatos?.stories_por_dia ?? '?'}\n- **Melhores horários:** ${(freq.melhores_horarios || []).join(' | ') || '_[indisponível]_'}\n- **Dias de pico:** ${(freq.dias_de_pico || []).join(', ') || '_[indisponível]_'}\n\n## 🧱 Pilares de Conteúdo\n${tabela(['pilar','porcentagem','descricao','por_que_funciona','exemplo_concorrente'], dt.pilares_conteudo || [])}\n\n## 🔥 Assuntos Quentes (próximos 30 dias)\n${bullets(dt.assuntos_quentes)}\n\n## ✏️ Ideias de Títulos\n${tabela(['titulo','pilar','formato_sugerido'], dt.ideias_de_titulos || [])}\n\n## 🪝 Ganchos Modelo (0-3s)\n${tabela(['gancho','inspirado_em'], dt.ganchos_modelo || [])}\n\n## 📣 CTAs Recomendados\n${tabela(['cta','quando_usar'], dt.ctas_recomendados || [])}\n\n## #️⃣ Hashtags Estratégicas\n- **Core (fixas):** ${(dt.hashtags_estrategicas?.core || []).join(' ') || '_[indisponível]_'}\n- **Rotativas alto volume:** ${(dt.hashtags_estrategicas?.rotativas_alto_volume || []).join(' ') || '_[indisponível]_'}\n- **Rotativas nicho:** ${(dt.hashtags_estrategicas?.rotativas_nicho || []).join(' ') || '_[indisponível]_'}\n- **Evitar:** ${(dt.hashtags_estrategicas?.evite || []).join(' ') || '_[indisponível]_'}\n\n## 🎨 Identidade Visual\n\n**Paleta de cores:**\n${tabela(['nome','hex','uso'], visual.paleta_cores || [])}\n\n**Tipografia:**\n- **Display:** ${md(tipo.display)}\n- **Texto:**   ${md(tipo.texto)}\n- **Regras:**\n${bullets(tipo.regras_uso)}\n\n**Estilo fotográfico:** ${md(visual.estilo_fotografico)}\n**Estilo gráfico:** ${md(visual.estilo_grafico)}\n**Logo / marca d'água:** ${md(visual.logos_e_marca_dagua)}\n\n**Vestimenta para aparições:**\n- **Diretrizes:** ${md(vest.diretrizes)}\n- **Evitar:** ${(vest.evitar || []).join(', ') || '_[indisponível]_'}\n- **Referências de mood:** ${(vest.mood_referencias || []).join(', ') || '_[indisponível]_'}\n\n## 🗓️ Calendário — 30 ideias de posts (com legenda)\n${secCal30Ideias(dt.calendario_30_dias || [])}\n\n## 📲 Stories Recorrentes\n${tabela(['ideia','formato','objetivo'], dt.stories_recorrentes || [])}\n\n## 📊 KPIs a Acompanhar\n${tabela(['kpi','meta_30d','meta_60d','meta_90d'], dt.kpis_acompanhar || [])}\n\n## ✍️ Briefing — Redatores\n${md(dt.briefing_redatores) || '_[indisponível]_'}\n\n## 🎨 Briefing — Designers\n${md(dt.briefing_designers) || '_[indisponível]_'}\n\n---\n\n🏁 **FIM DO PLANO DIRETOR** — ${baseData.nome_cliente} • ${new Date().toLocaleDateString('pt-BR')}\n`;\n\n  if (plano && typeof plano === 'object') {\n    plano.dados_metricas_perfis = buildDadosMetricasPerfis(baseData);\n  }\n\nconst plano_diretor_markdown = blocoCliente + blocoTecnico;\nconst dossie_completo = `${baseData.dossie_markdown || ''}\\n\\n---\\n\\n${plano_diretor_markdown}`;\n\nreturn [{ json: {\n  ...baseData,\n  plano_diretor: plano,\n  plano_diretor_markdown,\n  dossie_completo,\n  tokens_diretor,\n  tokens_total: (baseData.tokens_dossie || 0) + tokens_diretor,\n}}];\n"
      },
      "id": "a57feb5a-9af5-4da0-a27d-3d795771f4be",
      "name": "Consolidar Saída Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7856,
        7712
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── Monta payload \"Plano Diretor de Marketing\" ───────────────────────────────\nconst baseData = $input.first().json;\nconst analise  = baseData.analise_conteudo || {};\n\nconst cliente       = baseData.cliente       || {};\nconst concorrentes  = baseData.concorrentes  || [];\nconst perfilCliente = cliente.perfil         || {};\nconst metricasCli   = cliente.metricas_posts || {};\nconst analiseCli    = analise.cliente        || {};\n\nconst temasPilares = (analiseCli.temas_pilares || []).map(t => t.palavra);\n\nconst hashtagsOportunidade = (analise.hashtags_oportunidade || [])\n  .slice(0, 12)\n  .map(h => h.hashtag);\n\nconst ganchosVirais = (analise.concorrentes || []).flatMap(c =>\n  (c.ganchos_top || []).map(g => ({\n    handle:      c.handle,\n    gancho:      g.primeira_linha,\n    engajamento: g.engajamento,\n    tipo:        g.tipo_conteudo,\n  })),\n).sort((a, b) => b.engajamento - a.engajamento).slice(0, 20);\n\nconst midiaPrincipal = (p) =>\n  (p.tipo_conteudo === 'video' || p.formato_midia === 'video')\n    ? (p.thumb      || p.link_midia || null)\n    : (p.link_midia || p.thumb      || null);\n\nconst mapPost = (p) => ({\n  link_post:         p.link_post         || '',\n  tipo:              p.tipo_conteudo     || '',\n  formato_midia:     p.formato_midia     || p.tipo_conteudo || '',\n  legenda:           (p.legenda || '').slice(0, 280),\n  curtidas:          p.curtidas          ?? 0,\n  comentarios:       p.comentarios       ?? 0,\n  views:             p.views             ?? 0,\n  engajamento_total: p.engajamento_total ?? 0,\n  thumb:             p.thumb             || null,\n  link_midia:        p.link_midia        || null,\n  midia_url:         midiaPrincipal(p),\n  publicado_em:      p.publicado_em      || '',\n});\n\nconst concorrentesResumo = concorrentes.map(c => {\n  const a = (analise.concorrentes || []).find(x => x.handle === c.handle) || {};\n  return {\n    handle:            c.handle,\n    foto_perfil:       c.perfil?.foto_perfil    || null,\n    foto_perfil_hd:    c.perfil?.foto_perfil_hd || null,\n    seguidores:        c.perfil?.metricas?.seguidores  || 0,\n    qtd_posts:         c.perfil?.metricas?.qtd_posts   || 0,\n    bio:               c.perfil?.biografia              || '',\n    categoria:         c.perfil?.categoria              || '',\n    taxa_engajamento:  c.metricas_posts?.taxa_engajamento || '0.00',\n    media_curtidas:    c.metricas_posts?.media_curtidas  || 0,\n    media_comentarios: c.metricas_posts?.media_comentarios || 0,\n    media_views:       c.metricas_posts?.media_views     || 0,\n    mix_formatos:      c.metricas_posts?.mix_formatos    || {},\n    pilares:           (a.temas_pilares || []).slice(0, 5).map(t => t.palavra),\n    hashtags_top:      (a.hashtags_top  || []).slice(0, 8).map(h => h.hashtag),\n    cta_dominante:     a.cta_dominante  || 'sem_cta_claro',\n    ganchos_top: (a.ganchos_top || []).slice(0, 5).map(g => ({\n      gancho:      g.primeira_linha,\n      engajamento: g.engajamento,\n    })),\n    top_3_melhores_posts: (c.metricas_posts?.top_posts || []).slice(0, 3).map(mapPost),\n  };\n});\n\nconst userContent = JSON.stringify({\n  contexto: {\n    nome_cliente:   baseData.nome_cliente,\n    nicho:          baseData.nicho,\n    handle_cliente: `@${baseData.handle_cliente}`,\n    data_geracao:   new Date().toLocaleDateString('pt-BR'),\n  },\n  cliente: {\n    bio:               perfilCliente.biografia       || '',\n    categoria:         perfilCliente.categoria       || '',\n    seguidores:        perfilCliente.metricas?.seguidores  || 0,\n    taxa_engajamento:  metricasCli.taxa_engajamento         || '0.00',\n    media_curtidas:    metricasCli.media_curtidas           || 0,\n    media_comentarios: metricasCli.media_comentarios        || 0,\n    mix_formatos:      metricasCli.mix_formatos             || {},\n    pilares_detectados: temasPilares,\n    cta_dominante:      analiseCli.cta_dominante || 'sem_cta_claro',\n    top_3_melhores_posts: (metricasCli.top_posts || []).slice(0, 3).map(mapPost),\n  },\n  concorrentes: concorrentesResumo,\n  analise_competitiva: {\n    score_comparativo:     analise.score_comparativo     || {},\n    hashtags_oportunidade: hashtagsOportunidade,\n    ganchos_virais:        ganchosVirais,\n    insights_comentarios_pre_analisados: baseData.insights_comentarios_auditoria || null,\n  },\n}, null, 2);\n\nconst systemPrompt = `Você é um DIRETOR SÊNIOR DE MARKETING (CMO) focado em monetização real. Sua missão é entregar um Plano Diretor tão específico que o cliente consiga executar amanhã.\n\nREGRAS ABSOLUTAS (violações invalidam a entrega):\n1. CITE NÚMEROS REAIS: Cada insight DEVE ter uma métrica do JSON (ex: \"@gisellesantosnutri tem 391k seguidores e eng% 0.42 vs seu 340\").\n2. IMPERATIVO DIRETO: Proibido \"é importante\", \"vale ressaltar\", \"recomendo\". Use \"Faça\", \"Grave\", \"Poste\", \"Ajuste\".\n3. CITE O @HANDLE: Ao mencionar estratégia de concorrente, sempre cite qual concorrente a usa.\n4. USE OS INSIGHTS DE COMENTÁRIOS: Se insights_comentarios_pre_analisados existir no input, use-o obrigatoriamente para preencher oportunidades_conteudo, ganchos_modelo e assuntos_quentes.\n5. ESPECIFICIDADE MÁXIMA: Nada de \"poste conteúdo de qualidade\". Diga \"Grave um Reel de 30s com o gancho X, baseado no post de @Y que gerou Z engajamentos\".\n\nSAÍDA — JSON ÚNICO VÁLIDO com TODOS os campos abaixo preenchidos (sem exceção):\n{\n  \"overview_cliente\": {\n    \"diagnostico_identidade\": \"Texto de 150-200 palavras. Cite: bio atual, taxa engajamento real, mix de formatos real, comparativo vs concorrente principal.\",\n    \"posicionamento_atual\": \"Texto de 100-150 palavras. Cite seguidores do cliente e de cada concorrente. Diga em qual liga o cliente está e quanto falta para a próxima.\",\n    \"pontos_fortes\": [\"Mínimo 4 pontos. Cada um com dado: ex: Engajamento 340x superior a @X (340 vs 0.42)\"],\n    \"pontos_fracos\": [\"Mínimo 4 gaps. Cada um com dado e impacto em faturamento: ex: 0% carrossel vs 25% de @X = perdendo 9.591 engajamentos/post\"],\n    \"comparativo_concorrentes\": [\n      {\n        \"handle\": \"@...\",\n        \"estrategia_que_funciona\": \"Detalhe específico com métricas\",\n        \"como_voce_aplica\": \"Instrução em imperativo com frequência e formato\",\n        \"ganho_esperado_vendas\": \"Projeção concreta: ex: +200 leads/mês em 60 dias\"\n      }\n    ],\n    \"caminhos_de_crescimento\": [\n      {\n        \"titulo\": \"Nome da alavanca\",\n        \"movimento\": \"Ação específica: o quê, quando, como, quantas vezes\",\n        \"porque_funciona\": \"Evidência do JSON: @handle fez X e obteve Y\",\n        \"impacto_em_vendas\": \"Projeção monetária ou de leads\",\n        \"tempo_para_resultado\": \"X dias\"\n      }\n    ],\n    \"previsao_resultados\": {\n      \"30_dias\": \"Meta realista de seguidores, engajamento e leads captados\",\n      \"60_dias\": \"Meta intermediária com conversões esperadas\",\n      \"90_dias\": \"Meta de faturamento ou monetização inicial\"\n    },\n    \"carta_para_cliente_markdown\": \"Carta pessoal de 300-500 palavras. Tom: consultor sênior. Mencione o maior ponto fraco e o maior ponto forte com dados. Termine com desafio concreto para a primeira semana.\"\n  },\n  \"diretrizes_tecnicas\": {\n    \"tom_de_voz\": {\n      \"personalidade\": \"3-4 adjetivos específicos ao nicho e persona detectada\",\n      \"como_falar\": [\"Mínimo 5 diretrizes com exemplo de frase\"],\n      \"como_nao_falar\": [\"Mínimo 4 proibições com exemplo do que evitar\"],\n      \"exemplos_frase_ok\": [\"3 frases prontas para usar em legendas\"],\n      \"exemplos_frase_evitar\": [\"3 frases típicas de guru para nunca usar\"]\n    },\n    \"seo_instagram\": {\n      \"palavras_chave_principais\": [\"6-8 termos de busca do nicho com alto volume\"],\n      \"palavras_chave_secundarias\": [\"4-6 termos complementares e de cauda longa\"],\n      \"bio_otimizada\": \"Bio completa pronta para copiar: emoji + palavra-chave + proposta de valor + CTA\",\n      \"hashtags_fixas\": [\"8-10 hashtags permanentes em todo post\"],\n      \"uso_em_legenda\": \"Instrução de onde e como inserir palavras-chave na legenda\"\n    },\n    \"frequencia_publicacao\": {\n      \"posts_por_semana\": 0,\n      \"posts_por_dia\": 0,\n      \"melhor_horario\": \"HH:MM\",\n      \"melhores_horarios\": [\"HH:MM seg-sex\", \"HH:MM fim semana\"],\n      \"dias_de_pico\": [\"segunda\", \"quarta\"],\n      \"distribuicao_formatos\": { \"reels_pct\": 0, \"carrossel_pct\": 0, \"foto_pct\": 0 }\n    },\n    \"pilares_conteudo\": [\n      { \"pilar\": \"Nome do pilar\", \"porcentagem\": 0, \"descricao\": \"O que postar neste pilar\", \"exemplo_concorrente\": \"@handle — tipo de post que funciona\" }\n    ],\n    \"assuntos_quentes\": [\"15 tópicos específicos com título pronto para usar — ex: 3 erros que impedem você de emagrecer mesmo treinando todos os dias\"],\n    \"ideias_de_titulos\": [\"12 títulos de reels/carrosséis prontos — gancho forte + resultado esperado\"],\n    \"ganchos_modelo\": [\"10 ganchos de 0-3s prontos — frases de abertura que param o scroll neste nicho\"],\n    \"ctas_recomendados\": [\"8 CTAs prontos para diferentes objetivos: DM, lista VIP, comentário, salvar — texto exato para copiar\"],\n    \"hashtags_estrategicas\": {\n      \"core\": [\"5-6 hashtags de marca e posicionamento\"],\n      \"rotativas_alto_volume\": [\"6-8 hashtags de 500k-5M posts para alcance\"],\n      \"rotativas_nicho\": [\"6-8 hashtags de 50k-500k posts para engajamento qualificado\"],\n      \"evite\": [\"3-5 hashtags saturadas ou banidas no nicho\"]\n    },\n    \"identidade_visual\": {\n      \"paleta_cores\": [\n        { \"nome\": \"Primária\", \"hex\": \"#??????\", \"uso\": \"Onde usar esta cor\" },\n        { \"nome\": \"Secundária\", \"hex\": \"#??????\", \"uso\": \"Onde usar esta cor\" },\n        { \"nome\": \"Suporte\", \"hex\": \"#??????\", \"uso\": \"Onde usar esta cor\" }\n      ],\n      \"tipografia\": {\n        \"display\": \"Font para títulos e ganchos\",\n        \"texto\": \"Font para corpo e legendas\",\n        \"regras_uso\": [\"Regra 1: tamanho mínimo\", \"Regra 2: contraste\"]\n      },\n      \"estilo_fotografico\": \"Descrição do estilo: iluminação, ambiente, ângulo, tipo de enquadramento\",\n      \"estilo_grafico\": \"Estilo de motion/overlay/gráficos nos reels e carrosséis\",\n      \"vestimenta_aparicoes\": {\n        \"diretrizes\": \"Como se vestir nas aparições em câmera\",\n        \"evitar\": [\"O que não usar\"],\n        \"mood_referencias\": [\"Referência visual de @conta ou estilo\"]\n      },\n      \"logos_e_marca_dagua\": \"Instrução de uso de logo e marca dagua nos conteúdos\"\n    },\n    \"stories_recorrentes\": [\n      { \"tipo\": \"Nome do story fixo\", \"frequencia\": \"diário/semanal\", \"descricao\": \"O que postar e qual objetivo\" }\n    ],\n    \"kpis_acompanhar\": [\n      { \"kpi\": \"Nome do KPI\", \"baseline\": \"Valor atual real do JSON\", \"meta_30d\": \"...\", \"meta_60d\": \"...\", \"meta_90d\": \"...\", \"como_medir\": \"Onde/como verificar este KPI\" }\n    ],\n    \"briefing_redatores\": \"Texto de 200+ palavras: estrutura de roteiro, linguagem, ganchos obrigatórios, proibições, exemplos de abertura e CTA.\",\n    \"briefing_designers\": \"Texto de 150+ palavras: paleta, tipografia, proporções de tela, elementos visuais obrigatórios e proibidos, referências de estilo.\"\n  }\n}\n\nLEMBRE: Cada campo vazio ou genérico é uma falha. Use os dados do JSON como evidência pericial. O cliente paga por especificidade, não por volume de texto.`;\nreturn [{ json: {\n  ...baseData,\n  gpt_payload_diretor: {\n    model: 'gpt-4.1',\n    messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userContent }],\n    max_tokens: 9000,\n    temperature: 0.45,\n    response_format: { type: 'json_object' },\n  },\n}}];"
      },
      "id": "22094287-a8c4-40dd-b7ff-7d07398cbf1c",
      "name": "Montar Payload Calendário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6624,
        7712
      ]
    },
    {
      "parameters": {
        "jsCode": "// Formata a resposta do dossiê e mantém payload consolidado\nconst gptResponse = $input.first().json;\nconst baseData    = $('Montar Payload Dossiê').first().json;\n\nconst dossie_markdown = gptResponse?.choices?.[0]?.message?.content || '[Erro: GPT não retornou dossiê]';\nconst tokens_dossie   = gptResponse?.usage?.total_tokens || 0;\nconst titulo          = `Dossiê Auditoria IA — ${baseData.nome_cliente} | ${baseData.nicho} | ${new Date().toLocaleDateString('pt-BR')}`;\n\nreturn [{ json: {\n  ...baseData,\n  dossie_markdown,\n  titulo_documento: titulo,\n  tokens_dossie,\n  gerado_em: new Date().toISOString(),\n}}];\n"
      },
      "id": "cfc8c471-8291-4caf-83de-1619ab96e900",
      "name": "Formatar Dossiê",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6352,
        7712
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4.1",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.gpt_payload_dossie.messages[0].content }}"
            },
            {
              "content": "={{ $json.gpt_payload_dossie.messages[1].content }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "maxTokens": 8000,
          "temperature": 0.72
        },
        "requestOptions": {}
      },
      "id": "1e999355-efc3-4c3a-96ac-6d79f8e9e0e4",
      "name": "OpenAI GPT-4.1 — Dossiê",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        6096,
        7712
      ],
      "credentials": {
        "openAiApi": {
          "id": "mQKFKMQMdtkSmyek",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Monta payload do Dossiê (v2) com dados consolidados + análise estrutural\nconst item    = $input.first().json;\nconst base    = $('Selecionar Vídeos Virais1').first().json;\nconst analise = base.analise_conteudo || {};\n\nconst coletados = item.transcricoes_coletadas || [];\nconst videos_transcritos = coletados.map(it => ({\n  handle:      it.handle_concorrente || 'desconhecido',\n  link_post:   it.link_post          || '',\n  legenda:     it.legenda            || '',\n  curtidas:    it.curtidas           || 0,\n  comentarios: it.comentarios        || 0,\n  engajamento: it.engajamento        || 0,\n  transcricao: it.transcricao        || '[sem transcrição disponível]',\n}));\n\nconst tendencias_google = base.tendencias_google || [];\nconst keywords_google   = base.keywords_google   || [];\nconst anuncios_facebook = base.anuncios_facebook || [];\n\nconst c       = base.cliente || {};\nconst perfilC = c.perfil || {};\nconst mpC     = c.metricas_posts || {};\n\nconst cliente_resumo = {\n  nome:             base.nome_cliente,\n  nicho:            base.nicho,\n  handle:           `@${base.handle_cliente}`,\n  bio:              perfilC.biografia   || '',\n  verificado:       Boolean(perfilC.is_verificado),\n  categoria:        perfilC.categoria   || '',\n  seguidores:       perfilC.metricas?.seguidores  || 0,\n  seguindo:         perfilC.metricas?.seguindo    || 0,\n  total_posts:      perfilC.metricas?.qtd_posts   || 0,\n  qtd_reels:        perfilC.metricas?.qtd_reels   || 0,\n  taxa_engajamento: `${mpC.taxa_engajamento || '0.00'}%`,\n  media_curtidas:   mpC.media_curtidas    || 0,\n  media_comentarios:mpC.media_comentarios || 0,\n  mix_formatos:     mpC.mix_formatos || {},\n  top_5_posts: (mpC.top_posts || []).map(p => ({\n    link_post: p.link_post, legenda: p.legenda, curtidas: p.curtidas,\n    comentarios: p.comentarios, views: p.views, tipo: p.tipo_conteudo,\n  })),\n  ultimos_15_posts: (mpC.ultimos_15_posts || []).map(p => ({\n    legenda: p.legenda, curtidas: p.curtidas, comentarios: p.comentarios, tipo: p.tipo_conteudo,\n  })),\n  analise_estrutural: analise.cliente || {},\n};\n\nconst concorrentes_resumo = (base.concorrentes || []).map(cc => {\n  const an = (analise.concorrentes || []).find(a => a.handle === cc.handle) || {};\n  return {\n    handle:            `@${cc.handle}`,\n    bio:               cc.perfil?.biografia || '',\n    verificado:        Boolean(cc.perfil?.is_verificado),\n    seguidores:        cc.perfil?.metricas?.seguidores || 0,\n    taxa_engajamento:  `${cc.metricas_posts?.taxa_engajamento || '0.00'}%`,\n    media_curtidas:    cc.metricas_posts?.media_curtidas    || 0,\n    media_comentarios: cc.metricas_posts?.media_comentarios || 0,\n    mix_formatos:      cc.metricas_posts?.mix_formatos      || {},\n    top_5_posts: (cc.metricas_posts?.top_posts || []).map(p => ({\n      legenda: p.legenda, curtidas: p.curtidas, comentarios: p.comentarios, tipo: p.tipo_conteudo,\n    })),\n    tem_videos:         (cc.metricas_posts?.posts_video || []).length,\n    analise_estrutural: an,\n  };\n});\n\nconst userContent = JSON.stringify({\n  cliente: cliente_resumo,\n  concorrentes: concorrentes_resumo,\n  videos_virais_transcritos: videos_transcritos,\n  tendencias_google,\n  palavras_chave: keywords_google,\n  anuncios_ativos: anuncios_facebook,\n  score_comparativo: analise.score_comparativo || {},\n  hashtags_oportunidade: analise.hashtags_oportunidade || [],\n  insights_comentarios: base.insights_comentarios_auditoria || null,\n}, null, 2);\n\n\nconst systemPrompt = `Você é um Estrategista de Aquisição e Inteligência Competitiva com foco em escala de negócios (faturamento ≥ R$ 1M/ano). Sua mentalidade é de investidor: foco em lucro, eficiência e vantagem competitiva real.\n\nMISSÃO: Gerar um DOSSIÊ DE INTELIGÊNCIA E EXECUÇÃO. O objetivo não é educar o cliente, é entregar o mapa para superar a concorrência e dominar o nicho. Use os dados do JSON como prova pericial. Se um dado faltar, use: [dado não disponível].\n\nDIRETRIZ DE MATURIDADE: Identifique o volume de seguidores e engajamento do cliente. \n- Se < 2k seguidores: Foco total em AUTORIDADE E CONFIANÇA.\n- Se > 10k seguidores: Foco total em ESCALA E CONVERSÃO.\n\nESTRUTURA DO DOSSIÊ (Markdown):\n\n## 🔬 MÓDULO 1: ANÁLISE DE LACUNAS E POSICIONAMENTO\n### 1.1 Bio de Alta Conversão (Análise crítica vs Concorrentes. Marque ✅/❌ para Prova Social e Oferta Clara. Gere 2 versões: 1 focada em Autoridade e 1 focada em Venda Direta.)\n### 1.2 Auditoria de Performance (Tabela Comparativa: Handle | Eng% | Post/Dia | Gap de Audiência. Identifique o concorrente que o cliente deve 'vencer' primeiro.)\n### 1.3 Oportunidades Invisíveis (O que os concorrentes @handle ignoram e que o cliente pode dominar baseado nas tendencias_google e palavras_chave.)\n\n## 🛡️ MÓDULO 2: ENGENHARIA REVERSA DA CONCORRÊNCIA\n### 2.1 O Segredo dos Anúncios (Analise anuncios_ativos. Identifique o ângulo de venda: Medo, Ganância ou Desejo. Liste os ganchos visuais e as copys que estão consumindo orçamento agora.)\n### 2.2 Anatomia do Vídeo Viral (Baseado em videos_virais_transcritos: Liste os 3 ganchos de 0-3s que pararam o nicho. Desmonte a estrutura: Gancho -> Retenção -> Chamada.)\n### 2.3 Diferenciais de Elite (Liste 5 táticas específicas usadas por @concorrente que são escaláveis. Ex: uso de carrosséis para SEO, ganchos motivacionais polêmicos.)\n\n## 💣 MÓDULO 3: ARSENAL DE CONTEÚDO PARA EXECUÇÃO (22 DIAS)\n### 3.1 Sprint de 22 Dias de Guerra (Substitua o calendário de 30 dias por este Sprint focado em resultado):\n- Dias 1-7: Fundação de Autoridade (Conteúdos baseados em transcrições informativas dos concorrentes).\n- Dias 8-14: Quebra de Objeção (Conteúdos baseados nas dores detectadas nos anúncios e tendências).\n- Dias 15-22: Oferta Irresistível (Conteúdos focados em converter a audiência baseada nos anúncios ativos de LinkedIn/Meta).\n\n## ✍️ MÓDULO 4: SCRIPTS E ROTEIROS DE ALTO IMPACTO\n### 4.1 - 10 Legendas de Alta Retenção (Estrutura PSC: Problema, Solução, Chamada. Máximo 150 palavras. Diretas ao ponto. Use o vocabulário nativo detectado.)\n### 4.2 - 5 Roteiros de Reels \"Vantagem Injusta\" (Baseados nos vídeos_virais_transcritos. Pegue o que funcionou e melhore. Inclua: Instrução de Cena, Fala Transcrita Adaptada e Instrução de Texto na Tela.)\n### 4.3 - 3 Carrosséis Estratégicos (Títulos que causam FOMO ou curiosidade mórbida. Foque em salvar e compartilhar.)\n\n## 📈 MÓDULO 5: MÉTRICAS DE DONO (KPIs)\n### 5.1 Metas de 90 Dias (Tabela: KPI | Baseline | Meta 30/60/90. Foco em Leads e Pedidos de Orçamento, não apenas likes.)\n### 5.2 Alertas de Pivotagem (Gatilhos numéricos para mudar a estratégia se não houver ROI.)\n\nREGRAS CRÍTICAS:\n1. SEM \"GURU-SPEAK\": Proibido \"é fundamental\", \"recomendo\". Use \"Faça X\", \"Ajuste Y\".\n2. SEMPRE CITE A FONTE: \"@handle usou o gancho Z e obteve W comentários\".\n3. FOCO NO DINHEIRO: O conteúdo deve levar o seguidor para a DM ou Link, não apenas para o like.\n4. MÍNIMO 3.500 PALAVRAS: Dossiê profundo, técnico e estratégico.\n5. USE INSIGHTS DE COMENTÁRIOS: Se insights_comentarios existir no input, cite pelo menos 3 oportunidades de conteúdo e produto detectadas nos comentários reais. Mencione frases de comentários como evidência.\n6. CITE HANDLES ESPECÍFICOS: Nunca diga \"os concorrentes fazem X\". Diga \"@gisellesantosnutri fez X no post Y e obteve Z engajamentos\".\n\nComece diretamente pelo Módulo 1 sem introduções. Termine com: 📋 FIM DO DOSSIÊ — Inteligência Gerada em ${new Date().toLocaleDateString('pt-BR')}`;\n\n\nreturn [{ json: {\n  nome_cliente:     base.nome_cliente,\n  nicho:            base.nicho,\n  handle_cliente:   base.handle_cliente,\n  cliente:          base.cliente,\n  concorrentes:     base.concorrentes,\n  analise_conteudo: analise,\n  tendencias_google,\n  keywords_google,\n  anuncios_facebook,\n  videos_transcritos,\n  score_comparativo:     analise.score_comparativo || {},\n  hashtags_oportunidade: analise.hashtags_oportunidade || [],\n  gpt_payload_dossie: {\n    model: 'gpt-4.1',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user',   content: userContent  },\n    ],\n    max_tokens:  8000,\n    temperature: 0.72,\n  },\n}}];\n"
      },
      "id": "beebd834-e38b-4f75-8984-87046b3367a3",
      "name": "Montar Payload Dossiê",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5840,
        7712
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4.1",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.gpt_payload_diretor.messages[0].content }}"
            },
            {
              "content": "={{ $json.gpt_payload_diretor.messages[1].content }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "maxTokens": 9000,
          "temperature": 0.45
        },
        "requestOptions": {}
      },
      "id": "920f6d4d-7d0d-4686-9c04-b47507e9ca51",
      "name": "OpenAI GPT-4.1 — Plano Diretor",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        6880,
        7712
      ],
      "credentials": {
        "openAiApi": {
          "id": "mQKFKMQMdtkSmyek",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('GerarPDF1').item.json.handle_cliente }}-analise.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1zmiOMZpHrJyfbgvSMfSMP7JZIM3wSfEh?hl=pt-br",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        8432,
        7712
      ],
      "id": "9241a2b2-c45d-4315-b14a-deea04a72271",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1TBjj0k7oFi9xKxy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-srcleads-relatoriodemidia.dtna1d.easypanel.host/api/slides/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "n8nsrcleadsrelatoriodemidia"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Consolidar Saída Final').first().json) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        8192,
        7712
      ],
      "id": "57f33556-b771-41ee-b877-27b932eb6748",
      "name": "GerarPDF1"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('GerarPDF1').item.json.dossie_markdown }}",
        "name": "={{ $('GerarPDF1').item.json.handle_cliente }}-dossie",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Upload file1').item.json.parents[0] }}",
          "mode": "id"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        8880,
        7712
      ],
      "id": "6b7e2165-8aac-4231-964b-f2c439a3c749",
      "name": "Create file from text1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1TBjj0k7oFi9xKxy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.handle_cliente }}-roteiros.html",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/1zmiOMZpHrJyfbgvSMfSMP7JZIM3wSfEh?hl=pt-br",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        8752,
        8192
      ],
      "id": "603559a6-5fdf-4280-8b2e-1bd2daaff0be",
      "name": "Upload file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1TBjj0k7oFi9xKxy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Saída HTML (UTF-8) para Drive ou abrir no Google Docs via upload do .html\nconst item = $input.first().json;\nconst nome = item.nome_cliente || 'Cliente';\nconst nicho = item.nicho || '';\nconst handle = item.handle_cliente || '';\nconst arr = item.roteiros_virais_10 || [];\n\nfunction escapeHtml(s) {\n  return String(s ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nfunction oneLine(s) {\n  return String(s ?? '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction htmlRoteiro(r, idx) {\n  const id = r.id ?? idx + 1;\n  const cenas = Array.isArray(r.cenas) ? r.cenas : [];\n  let tabela = '';\n  if (cenas.length) {\n    const rows = cenas\n      .map(\n        (c) =>\n          `<tr><td>${escapeHtml(oneLine(c.janela_tempo))}</td><td>${escapeHtml(oneLine(c.fala))}</td><td>${escapeHtml(oneLine(c.visual))}</td><td>${escapeHtml(oneLine(c.overlay_texto || '—'))}</td></tr>`,\n      )\n      .join('');\n    tabela = `<table class=\"cenas\"><thead><tr><th>Tempo</th><th>Fala</th><th>Visual</th><th>Overlay</th></tr></thead><tbody>${rows}</tbody></table>`;\n  } else {\n    tabela = '<p class=\"muted\">Sem cenas detalhadas.</p>';\n  }\n\n  const bases = r.bases_usadas || {};\n  const sec = (r.metodologias_secundarias || []).length\n    ? `<span class=\"muted\"> · Secundárias: ${escapeHtml(r.metodologias_secundarias.join(', '))}</span>`\n    : '';\n  const hashtags = Array.isArray(r.hashtags) ? escapeHtml(r.hashtags.join(' ')) : '';\n\n  return `\n<section class=\"roteiro\" id=\"roteiro-${id}\">\n  <h2>Roteiro ${id} — ${escapeHtml(r.titulo_interno || 'Sem título')}</h2>\n  <p class=\"meta\"><strong>Formato:</strong> ${escapeHtml(r.formato || 'Reel')} · <strong>Duração alvo:</strong> ${escapeHtml(String(r.duracao_alvo_segundos ?? '—'))}s · <strong>Objetivo:</strong> ${escapeHtml(r.objetivo || '—')}</p>\n  <p><strong>Metodologia principal:</strong> ${escapeHtml(r.metodologia_principal || '—')}${sec}</p>\n  <h3>Quadro a quadro</h3>\n  ${tabela}\n  <h3>CTA final</h3>\n  <p class=\"preserve\">${escapeHtml(r.cta_final || '—')}</p>\n  <h3>Legenda (Instagram)</h3>\n  <p class=\"preserve legenda\">${escapeHtml(r.legenda_instagram || '—')}</p>\n  <p><strong>Hashtags:</strong> ${hashtags || '—'}</p>\n  <p><strong>Métrica-alvo:</strong> ${escapeHtml(r.metrica_alvo || '—')}</p>\n  <h3>Por que pode viralizar</h3>\n  <p class=\"preserve\">${escapeHtml(r.por_que_pode_viralizar || '—')}</p>\n  <h3>Bases e evidências</h3>\n  <ul>\n    <li><strong>Índices transcrição (Whisper):</strong> ${escapeHtml(JSON.stringify(bases.indices_transcricao_inspiracao || []))}</li>\n    <li><strong>Handles referência:</strong> ${escapeHtml((bases.handles_referencia || []).join(', ') || '—')}</li>\n    <li><strong>Justificativa:</strong> ${escapeHtml(bases.justificativa_evidencia || '—')}</li>\n  </ul>\n  <hr class=\"sep\" />\n</section>`;\n}\n\nconst corpo = arr.length\n  ? arr.map((r, i) => htmlRoteiro(r, i)).join('\\n')\n  : '<p class=\"erro\">Nenhum roteiro parseado — verifique <code>_roteiros_erro_parse</code> ou a resposta do GPT.</p>';\n\nconst tituloPagina = `10 Roteiros virais — ${escapeHtml(nome)}`;\n\nconst htmlDoc = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n<meta charset=\"utf-8\"/>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<title>${tituloPagina}</title>\n<style>\n  :root { --fg:#1a1a1a; --muted:#5c5c5c; --bd:#e0e0e0; --bg:#fafafa; }\n  body { font-family: Georgia, 'Times New Roman', serif; color: var(--fg); background: var(--bg); line-height: 1.45; max-width: 900px; margin: 0 auto; padding: 24px 20px 48px; }\n  h1 { font-size: 1.75rem; border-bottom: 2px solid var(--fg); padding-bottom: 8px; }\n  h2 { font-size: 1.25rem; margin-top: 2rem; color: #111; }\n  h3 { font-size: 1.05rem; margin-top: 1.25rem; color: #333; }\n  .cabecalho { margin-bottom: 2rem; color: var(--muted); font-size: 0.95rem; }\n  .cabecalho strong { color: var(--fg); }\n  table.cenas { width: 100%; border-collapse: collapse; font-size: 0.88rem; font-family: system-ui, sans-serif; }\n  table.cenas th, table.cenas td { border: 1px solid var(--bd); padding: 8px 10px; vertical-align: top; }\n  table.cenas th { background: #eee; text-align: left; }\n  .preserve { white-space: pre-wrap; margin: 0.5rem 0; }\n  .legenda { font-size: 0.95rem; }\n  .muted { color: var(--muted); }\n  .erro { color: #b00020; }\n  hr.sep { border: none; border-top: 1px solid var(--bd); margin: 2rem 0; }\n  code { font-size: 0.9em; background: #eee; padding: 2px 6px; border-radius: 4px; }\n</style>\n</head>\n<body>\n  <header>\n    <h1>10 Roteiros virais — ${escapeHtml(nome)}</h1>\n    <p class=\"cabecalho\"><strong>Nicho:</strong> ${escapeHtml(nicho)} · <strong>Instagram:</strong> @${escapeHtml(handle)} · <strong>Gerado em:</strong> ${escapeHtml(new Date().toLocaleString('pt-BR'))}</p>\n    <p class=\"cabecalho\">Envie o .html ao <strong>Google Drive</strong> ou abra no navegador. No Google Docs: <em>Arquivo → Abrir</em> e escolha este arquivo (formatação básica é preservada).</p>\n  </header>\n  ${corpo}\n</body>\n</html>`;\n\nconst safeHandle = String(handle).replace(/[^a-z0-9_.-]/gi, '_') || 'cliente';\nconst nome_arquivo_roteiros_html = `${safeHandle}-10-roteiros-virais.html`;\n\nconst buf = Buffer.from(htmlDoc, 'utf-8');\n\nreturn [\n  {\n    json: {\n      ...item,\n      documento_roteiros_html: htmlDoc,\n      titulo_documento_roteiros: `Roteiros virais — @${handle} — ${nicho}`,\n      nome_arquivo_roteiros_html,\n    },\n    binary: {\n      data: {\n        data: buf.toString('base64'),\n        mimeType: 'text/html',\n        fileName: nome_arquivo_roteiros_html,\n      },\n    },\n  },\n];\n"
      },
      "id": "71256d43-9382-4db3-99f5-9aa749a093a6",
      "name": "HTML — 10 Roteiros Virais1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8544,
        7952
      ]
    },
    {
      "parameters": {
        "jsCode": "// ENTRADA OFICIAL (flowAnalistaInsta.v4): saída do nó \"Consolidar Saída Final4\".\n// Ao GPT: userContent com legendas, transcricoes, palavras_chave, hashtags, diretrizes_tecnicas (+ contexto_cliente mínimo).\n// Saída deste nó NÃO inclui ...baseData — só metadados mínimos para Markdown/Drive.\nconst baseData = $input.first().json;\n\nfunction isForbiddenKey(k) {\n  const lower = String(k).toLowerCase();\n  if (lower.includes('link_post') || lower.includes('link_midia')) return true;\n  if (lower === 'link' || lower.endsWith('_link')) return true;\n  if (lower.includes('shortcode')) return true;\n  if (lower.includes('thumb')) return true;\n  if (lower === 'url' || lower.endsWith('_url')) return true;\n  if (lower.includes('permalink')) return true;\n  if (lower.includes('media_url') || lower.includes('video_url') || lower.includes('display_url')) return true;\n  if (lower.includes('cdn')) return true;\n  return false;\n}\n\nfunction stripUrls(s) {\n  return String(s || '')\n    .replace(/https?:\\/\\/[^\\s]+/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction sanitizarValor(v) {\n  if (v === null || v === undefined) return v;\n  if (typeof v === 'string') return stripUrls(v);\n  if (Array.isArray(v)) return v.map(sanitizarValor);\n  if (typeof v === 'object') return sanitizarObjeto(v);\n  return v;\n}\n\nfunction sanitizarObjeto(obj) {\n  if (!obj || typeof obj !== 'object') return obj;\n  if (Array.isArray(obj)) return obj.map(sanitizarValor);\n  const out = {};\n  for (const [k, val] of Object.entries(obj)) {\n    if (isForbiddenKey(k)) continue;\n    out[k] = sanitizarValor(val);\n  }\n  return out;\n}\n\n/** plano_diretor pode vir como objeto ou string JSON (edge cases). */\nfunction extrairObjetoPlanoDiretor(raw) {\n  if (!raw) return {};\n  if (typeof raw === 'object' && !Array.isArray(raw)) return raw;\n  if (typeof raw === 'string') {\n    try {\n      return JSON.parse(raw);\n    } catch (_) {\n      const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n      if (m) {\n        try {\n          return JSON.parse(m[1]);\n        } catch (_) {}\n      }\n    }\n  }\n  return {};\n}\n\nconst analise = baseData.analise_conteudo || {};\nconst planoObj = extrairObjetoPlanoDiretor(baseData.plano_diretor);\n\nlet dtClone;\ntry {\n  dtClone = JSON.parse(JSON.stringify(planoObj.diretrizes_tecnicas || {}));\n} catch (_) {\n  dtClone = {};\n}\nconst diretrizes_tecnicas = sanitizarObjeto(dtClone);\n\nconst videos = baseData.videos_transcritos || [];\n\nconst legendas = {\n  por_video: videos.map((v, i) => ({\n    indice: i + 1,\n    legenda: stripUrls(String(v.legenda || '').slice(0, 12000)),\n  })),\n  concorrentes_top: (baseData.concorrentes || []).flatMap((c) =>\n    (c.metricas_posts?.top_posts || [])\n      .slice(0, 4)\n      .map((p) => stripUrls(String(p.legenda || '').slice(0, 2000))),\n  ),\n};\n\nconst transcricoes = videos.map((v, i) => ({\n  indice: i + 1,\n  transcricao: stripUrls(String(v.transcricao || '').slice(0, 12000)),\n}));\n\nconst dtRaw = planoObj.diretrizes_tecnicas || {};\n\nfunction textoKeywordGoogle(x) {\n  if (x == null) return '';\n  if (typeof x === 'string') return x;\n  return (\n    x.keyword ||\n    x.termo ||\n    x.query ||\n    x.palavra ||\n    x.titulo ||\n    x.title ||\n    (typeof x.snippet === 'string' ? x.snippet.slice(0, 160) : '') ||\n    ''\n  );\n}\n\nconst kwGoogle = (baseData.keywords_google || []).map(textoKeywordGoogle);\nconst kwSeoPri = (dtRaw.seo_instagram?.palavras_chave_principais || []).map(String);\nconst kwSeoSec = (dtRaw.seo_instagram?.palavras_chave_secundarias || []).map(String);\nconst kwTemas = (analise.cliente?.temas_pilares || []).map((t) => (t && t.palavra ? String(t.palavra) : '')).filter(Boolean);\nconst kwTendencias = (baseData.tendencias_google || []).map((t) =>\n  typeof t === 'string' ? t : t.termo || t.query || t.title || t.titulo || '',\n);\n\nfunction hashtagItemParaTexto(h) {\n  if (h == null) return '';\n  if (typeof h === 'string') return h.trim();\n  if (typeof h === 'object') {\n    const s = h.hashtag ?? h.tag ?? h.texto ?? h.term ?? '';\n    return String(s).trim();\n  }\n  const u = String(h).trim();\n  return u === '[object Object]' ? '' : u;\n}\n\nconst hashtagsOportunidadeLista = [\n  ...(baseData.hashtags_oportunidade || []),\n  ...(analise.hashtags_oportunidade || []),\n];\n\nfunction coletarHashtags(o, acc) {\n  const a = acc || [];\n  if (o == null) return a;\n  if (typeof o === 'string') {\n    const m = o.match(/#[\\wÀ-ÿ]+/g);\n    if (m) a.push(...m);\n    return a;\n  }\n  if (Array.isArray(o)) {\n    o.forEach((x) => coletarHashtags(x, a));\n    return a;\n  }\n  if (typeof o === 'object') {\n    Object.keys(o).forEach((k) => {\n      if (isForbiddenKey(k)) return;\n      coletarHashtags(o[k], a);\n    });\n  }\n  return a;\n}\n\nconst hashtagsBruto = [\n  ...hashtagsOportunidadeLista.map(hashtagItemParaTexto),\n  ...coletarHashtags(diretrizes_tecnicas.hashtags_estrategicas || {}, []),\n];\nconst hashtags = [...new Set(hashtagsBruto.map((h) => h.trim()).filter(Boolean))].slice(0, 120);\n\nconst palavras_chave = [\n  ...new Set(\n    [...kwGoogle, ...kwSeoPri, ...kwSeoSec, ...kwTemas, ...kwTendencias]\n      .map((s) => String(s).trim())\n      .filter(Boolean),\n  ),\n].slice(0, 100);\n\nconst cliente = baseData.cliente || {};\nconst perfil = cliente.perfil || {};\nconst nome_cliente = baseData.handle_cliente || perfil.username || cliente.instagram || cliente.handle || '';\nconst nicho = baseData.nicho || perfil.nicho || cliente.nicho || '';\nconst handle_cliente =\n  baseData.handle_cliente || perfil.username || cliente.instagram || cliente.handle || '';\nconst handleClean = String(handle_cliente).replace(/^@/, '');\n\nconst payloadUsuario = {\n  contexto_cliente: {\n    nome: nome_cliente,\n    nicho,\n    instagram_handle: handleClean,\n  },\n  legendas,\n  transcricoes,\n  palavras_chave,\n  hashtags,\n  diretrizes_tecnicas,\n};\n\nconst userContent = JSON.stringify(payloadUsuario, null, 2);\n\nconst systemPrompt = `Você é Diretor Criativo Sênior e Estrategista de Retenção. Sua missão é transformar dados de espionagem competitiva em 10 roteiros de Reels que dominam o scroll e convertem visualizações em lucro.\n\nCONTEXTO DO PROJETO (obrigatório): personalize os 10 roteiros para o cliente (@${handleClean}), nicho: ${nicho}.\n\nOBJETIVO: gerar EXATAMENTE 10 roteiros de vídeo curtos com POTENCIAL VIRAL, em português BR. Use transcricoes e legendas.por_video como base obrigatória de linguagem, gancho e ritmo — adapte ao contexto das palavras_chave e hashtags; não copie literalmente se soar genérico; cite a inspiração nos campos bases_usadas (índices em transcricoes).\n\nMETODOLOGIAS VALIDADAS — distribua entre os 10 roteiros (cada roteiro declara metodologia_principal + opcionalmente secundárias):\n1) Hook–Retain–Reward (padrão Instagram: quebra de padrão nos 0–3s, retenção no meio, recompensa/CTA no fim)\n2) PAS (Problem–Agitate–Solution)\n3) AIDA em micro-cenas (Attention–Interest–Desire–Action)\n4) Arco narrativo (setup → tensão → virada → desfecho → CTA)\n5) Before–After–Bridge\n6) Myth busting / opinião forte (com responsabilidade ao nicho)\n7) Prova + autoridade em sequência (dado → exemplo → CTA)\n8) Open loop / loop encoding (pergunta ou tension que fecha no final)\n\nREGRAS:\n- Cada roteiro: 35–60s de fala estimada (declare duracao_alvo_segundos).\n- Inclua falas sugeridas por cena e indicativo visual/overlays quando útil.\n- Use evidência dos dados: trechos de transcricao ou legenda; se faltar dado: \"[indisponível no input]\".\n- PROIBIDO markdown na legenda_instagram; texto pronto para colar no Instagram.\n- Saída: UM ÚNICO JSON válido (response_format json_object) na chave raiz \"roteiros_virais\" com array de EXATAMENTE 10 objetos.\n\n\n1. ENGENHARIA REVERSA OBRIGATÓRIA: Use as 'transcricoes' e 'legendas.por_video' para identificar o que já validou no mercado.[cite: 1, 2] Não invente do zero; melhore o que o @concorrente já provou que funciona.\n\n2. RETENÇÃO VISUAL E DINÂMICA: No campo 'visual', descreva mudanças de ângulo, cortes ou uso de B-roll a cada 3 segundos. Se o vídeo for estático, ele falhará na meta de faturamento.\n\n3. SEO E COPY DE ALTA CONVERSÃO: \n   - A 'legenda_instagram' DEVE começar com a Palavra-Chave Principal do nicho nos primeiros 100 caracteres para indexação.\n   - O texto deve ser limpo (sem markdown), focado em mobile, com ganchos de curiosidade e um CTA agressivo para DM ou Link.\n\n4. DISTRIBUIÇÃO DE METODOLOGIAS: Garante variedade entre Hook-Retain-Reward, PAS, Myth Busting e Prova Social.\n\nOBRIGATÓRIO: A legenda_instagram deve começar com a Palavra-Chave Principal do nicho nos primeiros 100 caracteres. Estruture a legenda com ganchos de curiosidade e termine sempre com um CTA que direcione para o objetivo do roteiro (ex: 'Me chama na DM' para conversão).\n\n\n\nNo schema abaixo, trechos entre aspas como \"string curta\" ou \"...\" são apenas ilustração de formato — substitua por conteúdo real.\n\nSAÍDA — JSON ÚNICO (chave raiz \"roteiros_virais\"):[cite: 1]\n{\n  \"roteiros_virais\": [\n    {\n      \"id\": 1,\n      \"titulo_interno\": \"Nome estratégico\",\n      \"formato\": \"Reel\",\n      \"duracao_alvo_segundos\": 35,\n      \"metodologia_principal\": \"...\",\n      \"objetivo\": \"Alcance | Engajamento | Conversão\",\n      \"cenas\": [\n        {\n          \"janela_tempo\": \"0-3s\",\n          \"fala\": \"Gancho de impacto baseado nos dados\",\n          \"visual\": \"Instrução de movimento/corte\",\n          \"overlay_texto\": \"Texto curto de impacto na tela\"\n        }\n      ],\n      \"legenda_instagram\": \"Texto pronto com SEO e CTA\",\n      \"hashtags\": [\"#core\", \"#nicho\"],\n      \"bases_usadas\": {\n        \"indices_transcricao_inspiracao\": [1],\n        \"handles_referencia\": [\"@handle\"],\n        \"justificativa_evidencia\": \"Explique por que este gancho do concorrente foi escolhido para este objetivo.\"\n      },\n      \"por_que_pode_viralizar\": \"Análise técnica da retenção baseada no comportamento do nicho.\"\n    }\n  ]\n}\n\nREGRAS: Mínimo 10 roteiros. Sem markdown fora do JSON. Máximo 180 palavras por roteiro.[cite: 1]`;\n\nreturn [\n  {\n    json: {\n      nome_cliente,\n      nicho,\n      handle_cliente,\n      _branch_roteiros_virais: true,\n      gpt_payload_roteiros_virais: {\n        model: 'gpt-4.1',\n        messages: [\n          { role: 'system', content: systemPrompt },\n          { role: 'user', content: userContent },\n        ],\n        max_tokens: 12000,\n        temperature: 0.45,\n      },\n    },\n  },\n];\n"
      },
      "id": "a67f6245-8644-406f-ac44-2f5c2afaeeeb",
      "name": "Montar Payload — 10 Roteiros Virais",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7872,
        7952
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4.1",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.gpt_payload_roteiros_virais.messages[0].content }}"
            },
            {
              "content": "={{ $json.gpt_payload_roteiros_virais.messages[1].content }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "maxTokens": 12000,
          "temperature": 0.45
        },
        "requestOptions": {}
      },
      "id": "1af38a65-c546-4c38-a2b9-b8959c32422b",
      "name": "OpenAI GPT-4.1 — 10 Roteiros Virais",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        8080,
        7952
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 4000,
      "credentials": {
        "openAiApi": {
          "id": "mQKFKMQMdtkSmyek",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse da resposta GPT — combina com payload original do branch\nconst gptResp = $input.first().json;\nconst basePayload = $('Montar Payload — 10 Roteiros Virais').first().json;\n\nfunction safeParse(txt) {\n  if (!txt) return null;\n  try { return JSON.parse(txt); } catch (_) {}\n  const m = String(txt).match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (m) { try { return JSON.parse(m[1]); } catch (_) {} }\n  return null;\n}\n\nconst raw = gptResp?.choices?.[0]?.message?.content || '';\nconst parsed = safeParse(raw) || {};\nconst arr = parsed.roteiros_virais;\nconst ok = Array.isArray(arr) && arr.length >= 1;\n\nreturn [{\n  json: {\n    ...basePayload,\n    roteiros_virais_10: ok ? arr : [],\n    _roteiros_parse_ok: ok && arr.length === 10,\n    _roteiros_erro_parse: ok ? null : { aviso: 'JSON inválido ou array vazio', amostra: raw.slice(0, 900) },\n    gpt_roteiros_raw_response: gptResp,\n    tokens_roteiros_virais: gptResp?.usage?.total_tokens || 0,\n  },\n}];"
      },
      "id": "d34181a6-bd83-4c49-acfd-6c53809a997c",
      "name": "Parse — 10 Roteiros Virais",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8320,
        7952
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-srcleads-relatoriodemidia.dtna1d.easypanel.host/api/html-to-pdf?orientation=portrait",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "n8nsrcleadsrelatoriodemidia"
            },
            {
              "name": "Content-Type",
              "value": "text/html"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        8736,
        7952
      ],
      "id": "492da188-e9f0-4961-aadf-08247dab7273",
      "name": "html to PDF1"
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// Preparar PDF (base64 + data URI) — resiliente a nós não executados + não corrompe o PDF\n// =============================================================================\n\nfunction safeNodeJson(nodeName) {\n  try {\n    const it = $(nodeName).first();\n    return it && it.json ? it.json : null;\n  } catch (_) {\n    return null;\n  }\n}\n\nconst inputItem = $input.first();\nconst inputJson = inputItem.json || {};\nconst binMeta = inputItem.binary && inputItem.binary.data;\n\n// --- auditor-ia (ex.: só { linkfile: \"https://drive.google.com/file/d/.../view\" }) ---\nlet auditor = safeNodeJson('10b - HTTP → /auditor-ia');\nif (!auditor || Object.keys(auditor).length === 0) {\n  auditor = { ...inputJson };\n}\n\n// --- sessão WhatsApp (remoteJid, numero, dados...) ---\nlet sess = safeNodeJson('07 - Parse Resposta IA');\nif (!sess) {\n  sess = {\n    remoteJid: inputJson.remoteJid || '',\n    numero:    inputJson.numero    || '',\n    pushName:  inputJson.pushName  || '',\n    dados:     inputJson.dados     || {},\n  };\n}\n\n// --- nome do arquivo ---\nlet pdfFilename =\n  (binMeta && binMeta.fileName) ||\n  auditor.fileName ||\n  `${(sess.dados && sess.dados.handle_cliente) || 'cliente'}-plano-diretor.pdf`;\n\nlet pdfMimetype =\n  (binMeta && binMeta.mimeType) ||\n  auditor.mimeType ||\n  'application/pdf';\n\nif (!String(pdfFilename).toLowerCase().endsWith('.pdf')) {\n  pdfFilename = String(pdfFilename) + '.pdf';\n}\n\n// --- extrai bytes reais do binary (memory OU filesystem-v2) ---\nlet pdfBase64 = '';\nlet pdfDisponivel = false;\nlet erroDebug = null;\n\nif (binMeta) {\n  // Modo memória: bin.data já é base64 longo\n  if (\n    typeof binMeta.data === 'string' &&\n    binMeta.data.length > 200 &&\n    !binMeta.data.startsWith('filesystem')\n  ) {\n    pdfBase64 = binMeta.data;\n    pdfDisponivel = true;\n  } else {\n    // Modo filesystem / pointer: precisa do helper\n    try {\n      const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n      if (buffer && buffer.length > 0) {\n        pdfBase64 = buffer.toString('base64');\n        pdfDisponivel = true;\n      } else {\n        erroDebug = 'buffer-vazio';\n      }\n    } catch (e) {\n      erroDebug = 'helper-falhou: ' + (e && e.message ? e.message : String(e));\n    }\n  }\n} else {\n  erroDebug = 'sem-binario-no-input';\n}\n\nconst linkfile =\n  auditor.linkfile ||\n  auditor.webViewLink ||\n  '';\n\nconst downloadLink =\n  auditor.downloadLink ||\n  auditor.webContentLink ||\n  (auditor.fileId\n    ? `https://drive.google.com/uc?export=download&id=${auditor.fileId}`\n    : '');\n\nconst fileId =\n  auditor.fileId ||\n  auditor.id ||\n  '';\n\n// --- saída JSON (Evolution: campo Documento = {{ $json.pdf_data_uri }}) ---\nconst out = {\n  remoteJid: sess.remoteJid || inputJson.remoteJid || '',\n  numero:    sess.numero    || inputJson.numero    || '',\n  pushName:  sess.pushName  || inputJson.pushName  || '',\n\n  linkfile,\n  downloadLink,\n  fileId,\n  fileName_resp: auditor.fileName || auditor.name || pdfFilename,\n\n  pdf_disponivel: pdfDisponivel,\n  pdf_filename:   pdfFilename,\n  pdf_mimetype:   pdfMimetype,\n  pdf_base64:     pdfBase64,\n  pdf_data_uri:   pdfDisponivel\n    ? `data:${pdfMimetype};base64,${pdfBase64}`\n    : '',\n\n  _debug_pdf: {\n    erro: erroDebug,\n    base64_len: pdfBase64.length,\n    bin_data_preview:\n      typeof binMeta?.data === 'string' ? String(binMeta.data).slice(0, 40) : null,\n    auditor_origem: safeNodeJson('10b - HTTP → /auditor-ia') ? 'node-10b' : 'input-fallback',\n    sess_origem:      safeNodeJson('07 - Parse Resposta IA') ? 'node-07' : 'input-fallback',\n  },\n};\n\n// IMPORTANTE: não devolva `binary` aqui se o próximo nó usa só pdf_data_uri no JSON.\n// Assim o PDF não é “reempacotado” e não infla / corrompe no painel.\nreturn [{ json: out }];\n\n// --- Se ALGUM nó depois PRECISAR do binary ORIGINAL do Download, troque a linha acima por:\n// return [{ json: out, binary: inputItem.binary }];"
      },
      "id": "1c55728f-c47b-488b-8cb3-d96aebf3a973",
      "name": "10b.6 - Preparar PDF Base1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8944,
        7952
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-document",
        "instanceName": "teste1",
        "remoteJid": "={{ $('Validar e Preparar Input1').item.json.cellcli }}",
        "media": "={{ $('10c - Montar Mensagem Final2').item.json.pdf_base64 }}",
        "caption": "📄 *Plano Diretor* — sua análise completa do Instagram + concorrentes.",
        "fileName": "={{ $('10c - Montar Mensagem Final2').item.json.pdf_filename }}",
        "options_message": {}
      },
      "id": "19af7a67-a7cc-4529-b6b6-aa936cbe8ede",
      "name": "10d.5 - WhatsApp: Enviar PDF2",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        9552,
        7952
      ],
      "credentials": {
        "evolutionApi": {
          "id": "ycaKSUyEDBrrGGlw",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json || {};\nconst linkPdf = r.linkfile || '';\n\nlet msg;\nif (r.pdf_disponivel === true) {\n  msg = `✅ *Um Presente para você!* 🎉\\n\\n` +\n        `Te envio agora 10 ideias de roteiros para usar em seus reels📄👇\\n\\n` +\n        `Qualquer dúvida sobre o que tem lá dentro, é só me chamar! 🚀`;\n} else if (linkPdf) {\n  msg = `✅ *Análise pronta!* 🎉\\n\\n` +\n        `Não consegui anexar aqui no WhatsApp, mas você pode acessar pelo link:\\n${linkPdf}\\n\\n` +\n        `Qualquer dúvida sobre o conteúdo, é só me chamar! 🚀`;\n} else {\n  msg = `⚠️ Eita, deu um problema na análise aqui do meu lado.\\n\\n` +\n        `Pode digitar *recomeçar* que a gente roda de novo? Se persistir, me passa o erro:\\n` +\n        `_${(r.message || r.error || 'sem detalhes')}_`;\n}\n\nreturn [{ json: { ...r, mensagem_final: msg } }];\n"
      },
      "id": "24874a8a-5f35-4af6-a305-d170613b87d6",
      "name": "10c - Montar Mensagem Final2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9136,
        7952
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "teste1",
        "remoteJid": "={{ $('Validar e Preparar Input1').item.json.cellcli }}",
        "messageText": "={{ $json.mensagem_final }}",
        "options_message": {
          "delay": 1200
        }
      },
      "id": "043451d2-c3e0-4cec-a72d-25589e319bf7",
      "name": "10d - WhatsApp: Enviar Resultado2",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        9344,
        7952
      ],
      "credentials": {
        "evolutionApi": {
          "id": "ycaKSUyEDBrrGGlw",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code — Buscar comentários via instagram-looter2\n// GET https://instagram-looter2.p.rapidapi.com/post?url=<link_post>\n// Entrada esperada: { cliente: { posts[] }, concorrentes: [{ posts[] }] }\n\nconst RAPID_URL  = \"https://instagram-looter2.p.rapidapi.com/post\";\nconst RAPID_KEY  = \"1ba30747c0msh5c79babf55ab46ap17babfjsnbe1430f7ccdf\";\nconst RAPID_HOST = \"instagram-looter2.p.rapidapi.com\";\nconst DELAY_MS   = 500;\n\nconst httpRequest = this.helpers.httpRequest.bind(this.helpers);\n\n// ── Helpers ──────────────────────────────────────────────────────────────────\n\nfunction tryParseJson(s) {\n  if (typeof s !== \"string\") return null;\n  try { return JSON.parse(s); } catch { return null; }\n}\n\nfunction contarPalavras(texto) {\n  if (!texto || typeof texto !== \"string\") return 0;\n  const t = texto.trim();\n  return t ? t.split(/\\s+/).length : 0;\n}\n\nfunction normHandle(h) {\n  return String(h || \"\").trim().toLowerCase().replace(/^@/, \"\");\n}\n\nfunction mesmoAutor(a, b) {\n  if (!a || !b) return false;\n  return normHandle(a) === normHandle(b);\n}\n\n// ── Desembrulha a resposta do instagram-looter2 ───────────────────────────────\n// O endpoint /post retorna o shortcode_media diretamente ou aninhado em graphql/data\n\nfunction desembrulhar(raw) {\n  if (raw == null) return null;\n  if (typeof raw === \"string\") {\n    const p = tryParseJson(raw);\n    return p ? desembrulhar(p) : null;\n  }\n  if (Array.isArray(raw)) {\n    for (const item of raw) {\n      const u = desembrulhar(item);\n      if (u?.edge_media_to_parent_comment?.edges) return u;\n    }\n    return null;\n  }\n  if (typeof raw !== \"object\") return null;\n\n  // Direto no objeto raiz\n  if (raw.edge_media_to_parent_comment?.edges) return raw;\n\n  // Aninhado em graphql.shortcode_media\n  if (raw.graphql?.shortcode_media?.edge_media_to_parent_comment?.edges)\n    return raw.graphql.shortcode_media;\n\n  // Aninhado em data ou data.shortcode_media\n  const d = raw.data;\n  if (d) {\n    if (d.edge_media_to_parent_comment?.edges) return d;\n    if (d.shortcode_media?.edge_media_to_parent_comment?.edges) return d.shortcode_media;\n    const nested = desembrulhar(d);\n    if (nested) return nested;\n  }\n\n  // Outros envelopes comuns\n  for (const key of [\"media\", \"item\", \"payload\", \"result\"]) {\n    const v = raw[key];\n    if (v && typeof v === \"object\" && !Array.isArray(v)) {\n      const nested = desembrulhar(v);\n      if (nested) return nested;\n    }\n  }\n\n  // items[0]\n  if (Array.isArray(raw.items) && raw.items[0]) {\n    const nested = desembrulhar(raw.items[0]);\n    if (nested) return nested;\n  }\n\n  // body\n  if (raw.body != null) {\n    const b = typeof raw.body === \"string\" ? tryParseJson(raw.body) : raw.body;\n    const nested = desembrulhar(b);\n    if (nested) return nested;\n  }\n\n  return null;\n}\n\n// ── Constrói árvore de comentários ───────────────────────────────────────────\n\nfunction nodeParaItem(node) {\n  if (!node) return null;\n  const texto = node.text ?? \"\";\n  const owner = node.owner ?? {};\n  const item = {\n    id:                    node.id,\n    texto,\n    palavras:              contarPalavras(texto),\n    comentador_username:   owner.username ?? null,\n    comentador_id:         owner.id       ?? null,\n    is_verified:           Boolean(owner.is_verified),\n    created_at:            node.created_at ?? null,\n    respostas:             [],\n  };\n  for (const e of (node.edge_threaded_comments?.edges || [])) {\n    const filho = nodeParaItem(e?.node);\n    if (filho) item.respostas.push(filho);\n  }\n  return item;\n}\n\nfunction donoNaSubarvore(n, dono) {\n  if (!n || !dono) return false;\n  if (mesmoAutor(n.comentador_username, dono)) return true;\n  return (n.respostas || []).some(r => donoNaSubarvore(r, dono));\n}\n\nfunction marcarRespostasDoDono(itens, dono) {\n  if (!Array.isArray(itens)) return;\n  function walk(n) {\n    if (!n) return;\n    (n.respostas || []).forEach(walk);\n    if (mesmoAutor(n.comentador_username, dono)) {\n      delete n.comentario_foi_respondido_pelo_dono;\n      return;\n    }\n    n.comentario_foi_respondido_pelo_dono = Boolean(\n      (n.respostas || []).some(f => donoNaSubarvore(f, dono))\n    );\n  }\n  itens.forEach(walk);\n}\n\nfunction ordenar(lista) {\n  return [...lista].sort((a, b) => {\n    if (b.palavras !== a.palavras) return b.palavras - a.palavras;\n    return (b.is_verified ? 1 : 0) - (a.is_verified ? 1 : 0);\n  });\n}\n\nfunction ordenarArvore(itens) {\n  if (!itens?.length) return itens;\n  const s = ordenar(itens);\n  for (const it of s)\n    if (it.respostas?.length) it.respostas = ordenarArvore(it.respostas);\n  return s;\n}\n\nfunction extrairComentarios(rawResp, handleDono) {\n  const graph = desembrulhar(rawResp);\n  if (!graph?.edge_media_to_parent_comment?.edges) return [];\n  const dono = handleDono ?? graph.owner?.username ?? null;\n  const lista = [];\n  for (const e of graph.edge_media_to_parent_comment.edges) {\n    const t = nodeParaItem(e?.node);\n    if (t) lista.push(t);\n  }\n  marcarRespostasDoDono(lista, dono);\n  return ordenarArvore(lista);\n}\n\n// ── Chamada à API ─────────────────────────────────────────────────────────────\n\nasync function buscarComentarios(linkPost) {\n  return httpRequest({\n    method: \"GET\",\n    url: RAPID_URL,\n    qs: { url: linkPost },           // query string: ?url=<linkPost>\n    headers: {\n      \"X-Rapidapi-Key\":  RAPID_KEY,\n      \"X-Rapidapi-Host\": RAPID_HOST,\n      \"Content-Type\":    \"application/json\",\n    },\n    json: true,\n  });\n}\n\nfunction sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\n// ── Enriquece bloco (cliente ou concorrente) ──────────────────────────────────\n\nasync function enriquecerBloco(bloco) {\n  if (!bloco || !Array.isArray(bloco.posts)) return bloco;\n  const handleDono = normHandle(bloco.handle || bloco.perfil?.username) || null;\n  const meta = { handle: bloco.handle ?? null, pedidos: 0, ok: 0, erros: [] };\n\n  for (let i = 0; i < bloco.posts.length; i++) {\n    const p = bloco.posts[i];\n    delete p.comentarios_api_erro;\n\n    const url =\n      p.link_post ||\n      (p.shortCode ? `https://www.instagram.com/p/${p.shortCode}/` : \"\") ||\n      (p.shortcode ? `https://www.instagram.com/p/${p.shortcode}/` : \"\");\n\n    if (!url || !(Number(p.comentarios) > 0)) {\n      p.comentarios_ordenados = [];\n      continue;\n    }\n\n    meta.pedidos++;\n    try {\n      const raw = await buscarComentarios(url);\n      p.comentarios_ordenados = extrairComentarios(raw, handleDono);\n      meta.ok++;\n    } catch (e) {\n      p.comentarios_ordenados = [];\n      p.comentarios_api_erro = String(e?.message || e);\n      meta.erros.push({ url, erro: p.comentarios_api_erro });\n    }\n\n    if (DELAY_MS && i < bloco.posts.length - 1) await sleep(DELAY_MS);\n  }\n\n  bloco._comentarios_meta = meta;\n  return bloco;\n}\n\n// ── MAIN ──────────────────────────────────────────────────────────────────────\n\nconst root = $input.first()?.json;\nif (!root) return [{ json: { erro: \"sem entrada\" } }];\n\nconst temPosts =\n  Array.isArray(root.cliente?.posts) ||\n  (Array.isArray(root.concorrentes) && root.concorrentes.some(c => Array.isArray(c?.posts)));\n\nif (!temPosts) {\n  return [{ json: { erro: \"esperado { cliente: { posts[] }, concorrentes: [{ posts[] }] }\", recebido: root } }];\n}\n\nconst out = JSON.parse(JSON.stringify(root));\n\nif (out.cliente) await enriquecerBloco(out.cliente);\n\nif (Array.isArray(out.concorrentes)) {\n  for (let j = 0; j < out.concorrentes.length; j++) {\n    await enriquecerBloco(out.concorrentes[j]);\n    if (DELAY_MS && j < out.concorrentes.length - 1) await sleep(DELAY_MS);\n  }\n}\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        7856
      ],
      "id": "e07a773a-fa50-41be-aabb-d1efd63a0ad5",
      "name": "getComentarios1"
    },
    {
      "parameters": {
        "content": "## Analise\n",
        "height": 1168,
        "width": 9734
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        7408
      ],
      "typeVersion": 1,
      "id": "ce485740-36c1-401f-8652-21a7020823a5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-srcleads-n8n.dtna1d.easypanel.host/webhook/analise-lps",
        "sendBody": true,
        "specifyBody": "json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2272,
        7920
      ],
      "id": "adbe7974-1dbd-46c6-8627-6a3438be5ea9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: saída de \"Normalizar Perfis\" (campo handles_nao_encontrados).\n// Emite 1 item por handle não encontrado; se todos OK, 1 item marcando vazio.\n\nconst j = $input.first()?.json || {};\nconst lista = j.handles_nao_encontrados || [];\n\nif (!lista.length) {\n  return [\n    {\n      json: {\n        _vazio: true,\n        mensagem: \"Todos os perfis foram encontrados.\",\n      },\n    },\n  ];\n}\n\nreturn lista.map((row) => ({ json: row }));\n"
      },
      "id": "b6270497-e34b-4b3b-bcd6-6d3124151f26",
      "name": "handles_nao_econtrados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        7264
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normaliza cada perfil da RapidAPI num shape leve e agrupa por tipo (cliente/concorrente)\nconst rapItems  = $input.all();\nconst origItems = $('Expandir Handles').all();\n\nfunction toNumber(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction normalizarTipoOrigem(tipo) {\n  const t = String(tipo || '').toLowerCase().trim();\n  if (t === 'cliente' || t === 'client' || t === 'principal' || t === 'perfil_cliente') {\n    return 'cliente';\n  }\n  return 'concorrente';\n}\n\nfunction extrairUsuario(resp) {\n  if (resp?.result?.[0]?.user) return resp.result[0].user;\n  if (Array.isArray(resp?.result) && resp.result[0]?.user) return resp.result[0].user;\n  if (resp?.result?.user) return resp.result.user;\n  if (resp?.data?.user) return resp.data.user;\n  if (resp?.user) return resp.user;\n  if (resp?.graphql?.user) return resp.graphql.user;\n  return null;\n}\n\nfunction extrairDominio(url) {\n  if (!url || typeof url !== 'string') return null;\n  try {\n    const u = new URL(url);\n    return u.hostname.replace(/^www\\./, '');\n  } catch (_) {\n    return null;\n  }\n}\n\nfunction temUtm(url) {\n  if (!url || typeof url !== 'string') return false;\n  return /[?&](utm_[a-z]+|fbclid|gclid)=/i.test(url);\n}\n\nfunction simplificarBioLinks(bioLinks) {\n  if (!Array.isArray(bioLinks)) return [];\n  return bioLinks.map(link => ({\n    title: link.title || '',\n    url: link.url || '',\n    lynx_url: link.lynx_url || '',\n    link_type: link.link_type || null,\n    is_pinned: Boolean(link.is_pinned),\n    is_verified: Boolean(link.is_verified),\n  }));\n}\n\nfunction getProfilePicHd(user) {\n  return (\n    user?.hd_profile_pic_url_info?.url ??\n    user?.hd_profile_pic_versions?.slice(-1)?.[0]?.url ??\n    user?.profile_pic_url_hd ?? null\n  );\n}\n\nfunction getBiografia(user) {\n  return user?.biography ?? user?.biography_with_entities?.raw_text ?? '';\n}\n\nfunction normalizarPerfil(user) {\n  if (!user) return null;\n  const followers = toNumber(user.follower_count ?? user.edge_followed_by?.count ?? 0);\n  const following = toNumber(user.following_count ?? user.edge_follow?.count ?? 0);\n  const postsCount = toNumber(user.media_count ?? user.edge_owner_to_timeline_media?.count ?? 0);\n  const ratio = following > 0 ? Number((followers / following).toFixed(2)) : null;\n\n  const bioLinks = simplificarBioLinks(user.bio_links);\n  const externalUrl = user.external_url || '';\n\n  const todosUrls = [externalUrl, ...bioLinks.map(l => l.url), ...bioLinks.map(l => l.lynx_url)].filter(Boolean);\n  const dominiosSet = new Set(\n    todosUrls.map(extrairDominio).filter(Boolean).filter(d => d !== 'l.instagram.com')\n  );\n\n  const usaUtm = bioLinks.some(l => temUtm(l.url) || temUtm(l.lynx_url)) || temUtm(externalUrl);\n\n  return {\n    id: user.pk_id ?? user.id ?? '',\n    username: user.username ?? '',\n    full_name: user.full_name ?? '',\n    biografia: getBiografia(user),\n    foto_perfil: user.profile_pic_url ?? '',\n    foto_perfil_hd: getProfilePicHd(user),\n    is_verificado: Boolean(user.is_verified),\n    is_privado: Boolean(user.is_private),\n    is_business: Boolean(user.is_business),\n    account_type: user.account_type ?? null,\n    categoria: user.category || user.account_category || '',\n    metricas: {\n      seguidores: followers,\n      seguindo: following,\n      qtd_posts: postsCount,\n      qtd_reels: toNumber(user.total_clips_count ?? 0),\n      seguidores_em_comum: toNumber(user.mutual_followers_count ?? 0),\n      ratio_seguidor_seguindo: ratio,\n      tem_destaques: Boolean(user.has_highlight_reels),\n    },\n    contato: {\n      email: user.public_email ?? '',\n      telefone: user.public_phone_number ?? '',\n      telefone_contato: user.contact_phone_number ?? '',\n      cidade: user.city_name ?? '',\n      endereco: user.address_street ?? '',\n    },\n    links: {\n      site_externo: externalUrl,\n      threads: user.threads_profile_glyph_url ?? '',\n      bio_links: bioLinks,\n      dominios_bio: Array.from(dominiosSet),\n      tem_utm: usaUtm,\n      qtd_links: bioLinks.length + (externalUrl ? 1 : 0),\n    },\n    pronomes: Array.isArray(user.pronouns) ? user.pronouns : [],\n  };\n}\n\nconst grupos = rapItems.map((rapItem, idx) => {\n  const orig = origItems[idx]?.json || {};\n  const resp = rapItem.json || {};\n  const origemTipo = normalizarTipoOrigem(orig.tipo);\n  const handle = orig.handle;\n  const user = extrairUsuario(resp);\n  const perfil = normalizarPerfil(user);\n  return { handle, tipo: origemTipo, encontrado: Boolean(perfil), perfil };\n});\n\nconst cliente      = grupos.find(g => g.tipo === 'cliente') || null;\nconst concorrentes = grupos.filter(g => g.tipo === 'concorrente');\n\nreturn [{ json: { cliente, concorrentes } }];\n"
      },
      "id": "37517c23-eae9-45f3-9304-9e0dc387ecb5",
      "name": "Normalizar Perfis-standBy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        7616
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normaliza cada perfil da RapidAPI + retry: se não encontrar usuário, aguarda 10s e\n// refaz POST userInfo até 3 vezes extras. Saída inclui handles_nao_encontrados (lista).\n// Nó paralelo \"handles_nao_econtrados\" emite 1 item por handle falho.\n\nconst RAPID_USERINFO_URL =\n  \"https://instagram120.p.rapidapi.com/api/instagram/userInfo\";\nconst RAPID_KEY = \"0127634a29msh4a303edef58f6dbp1430c6jsnd00af7a6bc1e\";\nconst RAPID_HOST = \"instagram120.p.rapidapi.com\";\nconst RETRIES_EXTRA = 3;\nconst DELAY_MS = 10000;\n/** Tenta nesta ordem; ajuste a lista se o teu nó tiver outro nome. */\nconst EXPANDIR_NODE_CANDIDATES = [\"Expandir Handles\", \"Expandir Handles1\"];\n\nconst httpRequest = this.helpers.httpRequest.bind(this.helpers);\n\nfunction allOrigExpandir() {\n  let lastErr;\n  for (const name of EXPANDIR_NODE_CANDIDATES) {\n    try {\n      const items = $(name).all();\n      if (Array.isArray(items)) return items;\n    } catch (e) {\n      lastErr = e;\n    }\n  }\n  throw new Error(\n    `Não foi possível ler os itens de expansão. Tentados: ${EXPANDIR_NODE_CANDIDATES.join(\", \")}. Último erro: ${lastErr?.message || lastErr}`\n  );\n}\n\nfunction sleep(ms) {\n  return new Promise((r) => setTimeout(r, ms));\n}\n\nfunction normUsername(h) {\n  return String(h || \"\")\n    .trim()\n    .replace(/^@/, \"\");\n}\n\nasync function buscarUserInfo(usernameRaw) {\n  const username = normUsername(usernameRaw);\n  const raw = await httpRequest({\n    method: \"POST\",\n    url: RAPID_USERINFO_URL,\n    headers: {\n      \"X-Rapidapi-Key\": RAPID_KEY,\n      \"X-Rapidapi-Host\": RAPID_HOST,\n      \"Content-Type\": \"application/json\",\n    },\n    body: { username, maxId: \"\" },\n    json: true,\n  });\n  if (typeof raw === \"string\") {\n    try {\n      return JSON.parse(raw);\n    } catch {\n      return { _parseError: true };\n    }\n  }\n  return raw;\n}\n\nfunction toNumber(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction normalizarTipoOrigem(tipo) {\n  const t = String(tipo || \"\")\n    .toLowerCase()\n    .trim();\n  if (\n    t === \"cliente\" ||\n    t === \"client\" ||\n    t === \"principal\" ||\n    t === \"perfil_cliente\"\n  ) {\n    return \"cliente\";\n  }\n  return \"concorrente\";\n}\n\nfunction extrairUsuario(resp) {\n  if (resp?.result?.[0]?.user) return resp.result[0].user;\n  if (Array.isArray(resp?.result) && resp.result[0]?.user)\n    return resp.result[0].user;\n  if (resp?.result?.user) return resp.result.user;\n  if (resp?.data?.user) return resp.data.user;\n  if (resp?.user) return resp.user;\n  if (resp?.graphql?.user) return resp.graphql.user;\n  return null;\n}\n\nfunction extrairDominio(url) {\n  if (!url || typeof url !== \"string\") return null;\n  try {\n    const u = new URL(url);\n    return u.hostname.replace(/^www\\./, \"\");\n  } catch (_) {\n    return null;\n  }\n}\n\nfunction temUtm(url) {\n  if (!url || typeof url !== \"string\") return false;\n  return /[?&](utm_[a-z]+|fbclid|gclid)=/i.test(url);\n}\n\nfunction simplificarBioLinks(bioLinks) {\n  if (!Array.isArray(bioLinks)) return [];\n  return bioLinks.map((link) => ({\n    title: link.title || \"\",\n    url: link.url || \"\",\n    lynx_url: link.lynx_url || \"\",\n    link_type: link.link_type || null,\n    is_pinned: Boolean(link.is_pinned),\n    is_verified: Boolean(link.is_verified),\n  }));\n}\n\nfunction getProfilePicHd(user) {\n  return (\n    user?.hd_profile_pic_url_info?.url ??\n    user?.hd_profile_pic_versions?.slice(-1)?.[0]?.url ??\n    user?.profile_pic_url_hd ??\n    null\n  );\n}\n\nfunction getBiografia(user) {\n  return user?.biography ?? user?.biography_with_entities?.raw_text ?? \"\";\n}\n\nfunction normalizarPerfil(user) {\n  if (!user) return null;\n  const followers = toNumber(\n    user.follower_count ?? user.edge_followed_by?.count ?? 0\n  );\n  const following = toNumber(\n    user.following_count ?? user.edge_follow?.count ?? 0\n  );\n  const postsCount = toNumber(\n    user.media_count ?? user.edge_owner_to_timeline_media?.count ?? 0\n  );\n  const ratio =\n    following > 0 ? Number((followers / following).toFixed(2)) : null;\n\n  const bioLinks = simplificarBioLinks(user.bio_links);\n  const externalUrl = user.external_url || \"\";\n\n  const todosUrls = [\n    externalUrl,\n    ...bioLinks.map((l) => l.url),\n    ...bioLinks.map((l) => l.lynx_url),\n  ].filter(Boolean);\n  const dominiosSet = new Set(\n    todosUrls\n      .map(extrairDominio)\n      .filter(Boolean)\n      .filter((d) => d !== \"l.instagram.com\")\n  );\n\n  const usaUtm =\n    bioLinks.some((l) => temUtm(l.url) || temUtm(l.lynx_url)) ||\n    temUtm(externalUrl);\n\n  return {\n    id: user.pk_id ?? user.id ?? \"\",\n    username: user.username ?? \"\",\n    full_name: user.full_name ?? \"\",\n    biografia: getBiografia(user),\n    foto_perfil: user.profile_pic_url ?? \"\",\n    foto_perfil_hd: getProfilePicHd(user),\n    is_verificado: Boolean(user.is_verified),\n    is_privado: Boolean(user.is_private),\n    is_business: Boolean(user.is_business),\n    account_type: user.account_type ?? null,\n    categoria: user.category || user.account_category || \"\",\n    metricas: {\n      seguidores: followers,\n      seguindo: following,\n      qtd_posts: postsCount,\n      qtd_reels: toNumber(user.total_clips_count ?? 0),\n      seguidores_em_comum: toNumber(user.mutual_followers_count ?? 0),\n      ratio_seguidor_seguindo: ratio,\n      tem_destaques: Boolean(user.has_highlight_reels),\n    },\n    contato: {\n      email: user.public_email ?? \"\",\n      telefone: user.public_phone_number ?? \"\",\n      telefone_contato: user.contact_phone_number ?? \"\",\n      cidade: user.city_name ?? \"\",\n      endereco: user.address_street ?? \"\",\n    },\n    links: {\n      site_externo: externalUrl,\n      threads: user.threads_profile_glyph_url ?? \"\",\n      bio_links: bioLinks,\n      dominios_bio: Array.from(dominiosSet),\n      tem_utm: usaUtm,\n      qtd_links: bioLinks.length + (externalUrl ? 1 : 0),\n    },\n    pronomes: Array.isArray(user.pronouns) ? user.pronouns : [],\n  };\n}\n\nasync function montarGrupo(rapItem, orig) {\n  const origemTipo = normalizarTipoOrigem(orig.tipo);\n  const handle = orig.handle;\n  let resp = rapItem.json || {};\n  let user = extrairUsuario(resp);\n  let perfil = normalizarPerfil(user);\n  let extrasUsadas = 0;\n\n  while (!perfil && extrasUsadas < RETRIES_EXTRA) {\n    await sleep(DELAY_MS);\n    extrasUsadas += 1;\n    try {\n      resp = await buscarUserInfo(handle);\n      user = extrairUsuario(resp);\n      perfil = normalizarPerfil(user);\n    } catch (_) {\n      /* mantém perfil null; próxima iteração tenta de novo */\n    }\n  }\n\n  return {\n    handle,\n    tipo: origemTipo,\n    encontrado: Boolean(perfil),\n    perfil,\n    tentativas_extras_perfil: extrasUsadas,\n  };\n}\n\nasync function run() {\n  const rapItems = $input.all();\n  const origItems = allOrigExpandir();\n\n  const grupos = await Promise.all(\n    rapItems.map((rapItem, idx) =>\n      montarGrupo(rapItem, origItems[idx]?.json || {})\n    )\n  );\n\n  const cliente = grupos.find((g) => g.tipo === \"cliente\") || null;\n  const concorrentes = grupos.filter((g) => g.tipo === \"concorrente\");\n\n  const handles_nao_encontrados = grupos\n    .filter((g) => !g.encontrado)\n    .map((g) => ({\n      handle: g.handle,\n      tipo: g.tipo,\n      tentativas_extras_perfil: g.tentativas_extras_perfil,\n    }));\n\n  return [\n    {\n      json: {\n        cliente,\n        concorrentes,\n        handles_nao_encontrados,\n      },\n    },\n  ];\n}\n\nreturn await run();\n"
      },
      "id": "e9df9337-ad24-417c-9c1d-79ae4806b53e",
      "name": "Normalizar Perfis1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        7440
      ]
    }
  ],
  "connections": {
    "Montar payload — Análise comentários GPT": {
      "main": [
        [
          {
            "node": "OpenAI — Análise comentários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Análise comentários": {
      "main": [
        [
          {
            "node": "Consolidar — Insights comentários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar — Insights comentários": {
      "main": [
        [
          {
            "node": "Serper — Tendências do Nicho1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Create file from text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger1": {
      "main": [
        [
          {
            "node": "Validar e Preparar Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar e Preparar Input1": {
      "main": [
        [
          {
            "node": "Expandir Handles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RapidAPI — Buscar Perfil1": {
      "main": [
        [
          {
            "node": "Normalizar Perfis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RapidAPI — Buscar Posts1": {
      "main": [
        [
          {
            "node": "Normalizar Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Posts1": {
      "main": [
        [
          {
            "node": "getComentarios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Perfil e Posts1": {
      "main": [
        [
          {
            "node": "Mesclar Perfil + Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar Perfil + Posts1": {
      "main": [
        [
          {
            "node": "Analisar Estrutura de Conteúdo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar Estrutura de Conteúdo1": {
      "main": [
        [
          {
            "node": "Montar payload — Análise comentários GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper — Tendências do Nicho1": {
      "main": [
        [
          {
            "node": "Serper — Keywords do Nicho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Vídeos Virais1": {
      "main": [
        [
          {
            "node": "Tem Vídeos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Vídeo Viral1": {
      "main": [
        [
          {
            "node": "OpenAI Whisper — Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passthrough Sem Vídeos1": {
      "main": [
        [
          {
            "node": "Unir Caminhos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir Handles": {
      "main": [
        [
          {
            "node": "RapidAPI — Buscar Perfil1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RapidAPI — Buscar Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper — Keywords do Nicho": {
      "main": [
        [
          {
            "node": "Facebook Ads Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Ads Library": {
      "main": [
        [
          {
            "node": "Selecionar Vídeos Virais1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Vídeos?": {
      "main": [
        [
          {
            "node": "Download Vídeo Viral1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Passthrough Sem Vídeos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper — Transcrição": {
      "main": [
        [
          {
            "node": "Enriquecer Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriquecer Transcrição": {
      "main": [
        [
          {
            "node": "Agregar Transcrições",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Transcrições": {
      "main": [
        [
          {
            "node": "Unir Caminhos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Caminhos": {
      "main": [
        [
          {
            "node": "Montar Payload Dossiê",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload Calendário ": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4.1 — Calendário 30 Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4.1 — Calendário 30 Posts1": {
      "main": [
        [
          {
            "node": "Unir Calendário + Garantir ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Calendário + Garantir ": {
      "main": [
        [
          {
            "node": "Consolidar Saída Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Saída Final": {
      "main": [
        [
          {
            "node": "GerarPDF1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Montar Payload — 10 Roteiros Virais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload Calendário": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4.1 — Plano Diretor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dossiê": {
      "main": [
        [
          {
            "node": "Montar Payload Calendário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4.1 — Dossiê": {
      "main": [
        [
          {
            "node": "Formatar Dossiê",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload Dossiê": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4.1 — Dossiê",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4.1 — Plano Diretor": {
      "main": [
        [
          {
            "node": "Montar Payload Calendário ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GerarPDF1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML — 10 Roteiros Virais1": {
      "main": [
        [
          {
            "node": "html to PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload — 10 Roteiros Virais": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4.1 — 10 Roteiros Virais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4.1 — 10 Roteiros Virais": {
      "main": [
        [
          {
            "node": "Parse — 10 Roteiros Virais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse — 10 Roteiros Virais": {
      "main": [
        [
          {
            "node": "HTML — 10 Roteiros Virais1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html to PDF1": {
      "main": [
        [
          {
            "node": "Upload file3",
            "type": "main",
            "index": 0
          },
          {
            "node": "10b.6 - Preparar PDF Base1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10b.6 - Preparar PDF Base1": {
      "main": [
        [
          {
            "node": "10c - Montar Mensagem Final2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10c - Montar Mensagem Final2": {
      "main": [
        [
          {
            "node": "10d - WhatsApp: Enviar Resultado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10d - WhatsApp: Enviar Resultado2": {
      "main": [
        [
          {
            "node": "10d.5 - WhatsApp: Enviar PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getComentarios1": {
      "main": [
        [
          {
            "node": "Aguardar Perfil e Posts1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalizar Perfis-standBy": {
      "main": [
        []
      ]
    },
    "Normalizar Perfis1": {
      "main": [
        [
          {
            "node": "handles_nao_econtrados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aguardar Perfil e Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook Trigger1": [
      {
        "headers": {
          "host": "n8n-srcleads-n8n.dtna1d.easypanel.host",
          "user-agent": "axios/1.13.5",
          "content-length": "127",
          "accept": "application/json,text/*;q=0.99",
          "accept-encoding": "gzip, compress, deflate, br",
          "cellphone": "5511988983954",
          "content-type": "application/json",
          "id": "2A72F7205E849A1B6333",
          "x-forwarded-for": "3.210.217.206",
          "x-forwarded-host": "n8n-srcleads-n8n.dtna1d.easypanel.host",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "ad0ad4f8adb5",
          "x-real-ip": "3.210.217.206"
        },
        "params": {},
        "query": {},
        "body": {
          "nome_cliente": "Sabrina",
          "nicho": "Fitness",
          "handle_cliente": "saadamasco",
          "concorrentes": [
            "luanasmendes",
            "gisellesantosnutri"
          ]
        },
        "webhookUrl": "https://n8n-srcleads-n8n.dtna1d.easypanel.host/webhook/auditor-ia",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25d835488615d5549459a8df632db7e5bcd28731f11ebcd6434bd4e3252a3696"
  }
}